{% load static %}
<header class="main-header">
  <!-- Logo -->
  <a href="{% url 'accounts:dashboard' %}" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><img src="{% static 'sknf/images/logo.png' %}" alt="SKNF"></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b></b><img src="{% static 'sknf/images/sknf.png' %}" alt="SKNF"></span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-fixed-top" >
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">{{account_strings.NAVIGATION_TEXT}}</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->

        <!-- Notifications: style can be found in dropdown.less -->

        <!-- Tasks: style can be found in dropdown.less -->

        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {% if user.image %}

            <img class=" user-image " src="{{ user.image.url }}" alt="User Image">
            {% else %}
            <img class="user-image" src="{% static 'sknf/images/blank-profile-picture-973460_960_720.png' %}" alt="User Image">
            {% endif %}
            <span class="hidden-xs">{{ user.first_name }}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header user-info-box">
              {% if user.image %}

              <img class=" img-circle " src="{{ user.image.url }}" alt="User Image">
              {% else %}
              <img class="img-circle" src="{% static 'sknf/images/blank-profile-picture-973460_960_720.png' %}" alt="User Image">
              {% endif %}


              <p class="user-name">
                {{ user.first_name }}
              </p>
              <!-- Menu Body -->
              <!-- /.row -->
            </li>
            <li>

              <p class="user-info">
                <strong>{{account_strings.ROLE_TEXT}}</strong> {{user.get_user_type_display}}<br />
                <strong>{{account_strings.EMAIL_TEXT}}</strong> {{user.get_username}}
              </p>


<!--              <p class="text-muted"></p>-->

            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <!--<div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Profile</a>
              </div>-->
              <div class="pull-left">
                {% if user.is_authenticated and user.user_type == 1 %}
                                <a type="button" class="btn btn-primary btn-flat edit-profile"
                                   href="{% url 'accounts:admin_update' %}">{{account_strings.EDIT_PROFILE_TEXT}}
                                </a>
                            {% elif user.is_authenticated and user.user_type == 2 %}
                                <a type="button" class="btn btn-primary btn-flat edit-profile"
                                   href="{% url 'accounts:headmaster_update' %}">{{account_strings.EDIT_PROFILE_TEXT}}
                                </a>
                            {% elif user.is_authenticated and user.user_type == 3 %}
                                <a type="button" class="btn btn-primary btn-flat edit-profile"
                                   href="{% url 'accounts:headmaster_update' %}">{{account_strings.EDIT_PROFILE_TEXT}}
                                </a>
                            {% elif user.is_authenticated and user.user_type == 4 %}
                                <a type="button" class="btn btn-primary btn-flat edit-profile"
                                   href="{% url 'accounts:headmaster_update' %}">{{account_strings.EDIT_PROFILE_TEXT}}
                                </a>
                            {% elif user.is_authenticated and user.user_type == 5 %}
                                <a type="button" class="btn btn-primary btn-flat edit-profile"
                                   href="{% url 'accounts:skleader_update' %}">{{account_strings.EDIT_PROFILE_TEXT}}
                                </a>
                            {% endif %}
              </div>
              <div class="pull-right">
                <a href="{% url 'accounts:logout' %}" class="btn btn-primary btn-flat">{{account_strings.SIGN_OUT_BUTTON_TEXT}}</a>
              </div>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
      </ul>
    </div>
  </nav>
</header>
{% block extra_css %}
<style type="text/css">
    .user-info{
        text-transform: capitalize;
        padding: 10px 10px 10px 10px;
        margin-bottom: 0;
    }
    .edit-profile{
        float:right;
    }
    .user-info-box{
        height: auto!important;
        padding-bottom: 4px!important;
    }
    .logo{
        position:fixed!important;
    }
    .sidebar-toggle{
        position:fixed!important;
    }
    .user-name{
        margin-top: 3px;
        margin-bottom: 0;"
    }
</style>
{% endblock %}