{% extends 'sknf/base.html' %}
{% block body_block %}
{% load static %}

<section class="content-header">
   <h1>
      Admin Dashboard
   </h1>
</section>

<!-- Main content -->
<section class="content">
   <div class="row" style="{% comment %}padding-top: 20px; {% endcomment %}padding-right: 20px; padding-bottom: 20px; " >
      <div class="col-md-9">
         <!-- Main content -->
         <div class="box">
            <div class="box-header">

               <h3 style="display: inline-block;" class="box-title"></h3>
                {% comment %}<a type="button"
                   class="btn btn-primary pull-right"
                   href="{% url 'school:create_school' %}">
                    <span class="fa fa-plus"></span>
                    New School
                </a>{% endcomment %}
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
               <table id="example1" class=" school-table table table-bordered table-striped">
                  <thead>
                  <tr>
                     <th class = "col-sm-4">Name</th>
                     <th class ="col-sm-2">EIIN</th>
                     <th class ="col-sm-2">Division</th>
                     <th class ="col-sm-2">District</th>
                     <th class ="col-sm-2 ">Actions</th>
                  </tr>
                  </thead>
                  <tbody>

                  {% include 'school/partial_school_list.html' %}


               </table>
               {% include 'school/_modal.html' %}
            </div>
         </div>
         <!-- /.content -->

      </div>


      <div class="col-md-3">
         <div class="row">
            <a href="{% url 'school:school_list' %}">
            <div class="small-box bg-aqua">
               <div class="inner">
                  <h3>{{school_total}}</h3>
                  <p>Schools</p>
               </div>
               <div class="icon">
                  <i class="ion ion-home"></i>
               </div>
            </div>
               </a>

            <a href="{% url 'headmasters:headmaster_list' %}">
            <div class="small-box bg-green">
               <div class="inner">
                  <h3>{{headmaster_total}}</h3>
                  <p>Headmasters</p>
               </div>
               <div class="icon">
                  <i class="ion ion-person"></i>
               </div>
            </div>
            </a>

            <a href="{% url 'skleaders:skleader_list' %}">
            <div class="small-box bg-red">
               <div class="inner">
                  <h3>{{skleader_total}}</h3>
                  <p>SkLeaders</p>
               </div>
               <div class="icon">
                  <i class="fa fa-user"></i>
               </div>
            </div>
            </a>

            <div class="small-box bg-yellow">
               <div class="inner">
                  <h3>0</h3>
                  <p>Events</p>
                  <br>
               </div>
               <div class="icon">
                  <i class="ion ion-calendar"></i>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
$(function () {

    $('.home').addClass('active');

    var loadForm = function () {
    var btn = $(this);
    $.ajax({
      url: btn.attr("data-url"),
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
        $("#modal-school").modal("show");
      },
      success: function (data) {
        $("#modal-school .modal-content").html(data.html_form);
      }
    });
  };

  var saveForm = function () {
    var form = $(this);
    $.ajax({
      url: form.attr("action"),
      data: form.serialize(),
      type: form.attr("method"),
      dataType: 'json',
      success: function (data) {
        if (data.form_is_valid) {
          alert("Successfully done!");  // <-- This line was executed! Means success
          $("body").html(data.html_school_list);  // <-- Replace the table body
          $("#modal-school").modal("hide");  // <-- Close the modal
        }
        else {
          $("#modal-school .modal-content").html(data.html_form);
        }
      }
    });
    return false;
  };

  /* Binding */

  // Delete school
  $(".school-table").on("click", ".js-delete-school", loadForm);
  $("#modal-school").on("submit", ".js-school-delete-form", saveForm);

  $('#ab').hide();


});

  </script>
{% endblock %}


