{% load static %}

<section class="sidebar">
    <!-- Sidebar user panel -->

    <!-- search form -->

    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">



        <br>

        <li>
            <div class="box-body box-profile">
                {% if headmaster_profile.image %}
                    <img style="width: 80px; height: 80px;" class="profile-user-img img-responsive img-circle" src="{{headmaster_profile.image.url }}" alt="User profile picture">
                {% else %}
                    <img style="width: 80px; height: 80px;" class="profile-user-img img-responsive img-circle" src="{% static 'sknf/images/blank-profile-picture-973460_960_720.png' %}" alt="User profile picture">
                {% endif %}
                <h3 class="profile-username text-center">{{ headmaster_profile.user.first_name }}</h3>
                <p class="text-muted text-center">{{school_strings.HOME_HEADMASTER_TITLE_TEXT}}</p>
            </div>
        </li>

        <li>
            <div class="box-body box-profile">
                {% for skleader in skleader_list%}
                {% if skleader.image %}
                    <img style="width: 80px; height: 80px;" class="profile-user-img img-responsive img-circle" src="{{skleader.image.url }}" alt="User profile picture">
                {% else %}
                    <img style="width: 80px; height: 80px;" class="profile-user-img img-responsive img-circle" src="{% static 'sknf/images/blank-profile-picture-973460_960_720.png' %}" alt="User profile picture">
                {% endif %}
                <h3 class="profile-username text-center">{{ skleader.user.first_name }}</h3>
                <p class="text-muted text-center">{{school_strings.HOME_SKLEADER_TITLE_TEXT}}</p>
                {% endfor %}
            </div>
        </li>
    </ul>
    <hr width="70%">
    <ul class="sidebar-menu" data-widget="tree">
        {% if user.is_authenticated and user.user_type == 5 or user.user_type == 2 or user.user_type == 3 or user.user_type == 4 %}
            <li>
                <a href="{% url 'school:school_profile' profile.school.id %}">
                    <i class="ion ion-home"></i> <span>Home</span>
                </a>
            </li>
            <li>
                <a href="{% url 'club_meetings:club_meeting_list' %}">
                    <i class="ion ion-checkmark"></i> <span>{{school_strings.HOME_MENU_CLUB_MEETING}}</span>

                </a>
            </li>
            <li>
                <a href="{% url 'peer_education:peer_education_list' %}">
                    <i class="ion ion-checkmark"></i> <span>{{school_strings.HOME_MENU_PEER_EDUCATION}}</span>

                </a>
            </li>
            <li>
                <a href="{% url 'eduplus_activity:eduplus_activity_list' %}">
                    <i class="ion ion-checkmark"></i> <span>{{school_strings.HOME_MENU_EDUPLUS_ACTIVITY}}</span>
                    <i class="fa fa-book"></i> <span>Eduplus Activity</span>

                </a>
            </li>
            <li class="skmembers">
                <a href="{% url 'skmembers:skmember_list_for_sk_leader' %}">
                    <i class="fa fa-users"></i> <span>{{school_strings.HOME_MENU_SKMEMBER}}</span>
                </a>
            </li>
        {% endif %}
    </ul>
</section>