<section class="sidebar">
      <!-- Sidebar user panel -->
      <br>

      <ul class="sidebar-menu tree" data-widget="tree">
        <li class="home">
          <a href="{% url 'accounts:dashboard' %}">
            <i class="fa fa-home"></i> <span>Home</span>
          </a>
        </li>

        <li class="school">
          <a href="{% url 'school:school_list' %}">
            <i class="fa fa-mortar-board"></i> <span>Schools</span>
          </a>
        </li>
        <li class="headmasters">
          <a href="{% url 'headmasters:headmaster_list' %}">
            <i class="fa fa-calendar"></i> <span>Headmasters</span>
          </a>
        </li>
        <li class="events">
          <a href="{% url 'accounts:events' %}">
            <i class="fa fa-calendar"></i> <span>Events</span>
          </a>
        </li>

        <li class="treeview settings-menu">
          <a href="#">
            <i class="fa fa-gears"></i> <span>Settings</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="division-menu"><a href="{% url 'division:division_list' %}"><i class="fa fa-circle-o"></i>Division</a></li>
            <li class="district-menu"><a href="{% url 'districts:district_list' %}"><i class="fa fa-circle-o"></i>District</a></li>
            <li class="upazilla-menu"><a href="{% url 'upazillas:upazilla_list' %}"><i class="fa fa-circle-o"></i>Upazila</a></li>
            <li class="union-menu"><a href="{% url 'unions:union_list' %}"><i class="fa fa-circle-o"></i>Union</a></li>
          </ul>
        </li>
      </ul>
    </section>