
{% for upazilla in upazilla_list %}
<tr>

    <td>{{ upazilla.name }}</td>
    <td>{{ upazilla.district }}</td>
    <td>{{ upazilla.division }}</td>
    <td>
        <button type="button"
                class="js-update-upazilla"
                data-url="{% url 'upazillas:update_upazilla' upazilla.id %}">
            <span class="fa fa-edit"></span>
        </button>
        <button type="button"
                class="js-delete-upazilla"
                data-url="{% url 'upazillas:delete_upazilla' upazilla.id %}">
            <span class="fa fa-trash"></span>
        </button>
    </td>
</tr>
{% endfor %}