{% extends 'sknf/base.html' %}
{% block body_block %}
<section class="content-header">
        <h1>Upazilla List </h1>
 </section>
<!-- Main content -->
<section class="content">
<!-- Main content -->
<div class="box">
    <div class="box-header">
        <h3 style="display: inline-block;" class="box-title"></h3>
        <span id = "alert_placeholder"></span>
        <button type="button"
                class="btn btn-primary pull-right js-create-upazilla"
                data-url="{% url 'upazillas:create_upazilla' %}">
            <span class="fa fa-plus"></span>
            New Upazilla
        </button>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive">
        <table id="example1" class=" upazilla-table table table-bordered table-striped">
            <thead>
            <tr>
                <th class="col-sm-4">Upazilla Name</th>
                <th class="col-sm-3">District</th>
                <th class="col-sm-3">Division</th>
                <th class="col-sm-2">Actions</th>
            </tr>
            </thead>
            <tbody>

            {% include 'upazillas/partial_upazillas_list.html' %}

            </tbody>
            <tfoot>

            </tfoot>
        </table>
        {% include 'upazillas/_modal.html' %}
    </div>
</div>
<!-- /.content -->
</section>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
$(function () {
    $('.settings-menu, .upazilla-menu').addClass('active');
    $(".settings-menu").addClass("menu-open");
    $(".settings-menu .treeview-menu").css("display", "block");

    var loadForm = function () {
    var btn = $(this);
    $.ajax({
      url: btn.attr("data-url"),
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
        $("#modal-upazilla").modal("show");
      },
      success: function (data) {
        $("#modal-upazilla .modal-content").html(data.html_form);
      }
    });
  };

  var saveForm = function () {
    var form = $(this);
    var formClass = form.attr("class")
    $.ajax({
      url: form.attr("action"),
      data: form.serialize(),
      type: form.attr("method"),
      dataType: 'json',
      success: function (data) {
        if (data.form_is_valid) {
          if(formClass=="js-upazilla-create-form"){
              showAlert("Upazilla Created!", "alert-success-customized")
           }
           if(formClass=="js-upazilla-update-form"){
              showAlert("Upazilla Updated!", "alert-success-customized")
           }
           if(formClass=="js-upazilla-delete-form"){
              showAlert("Upazilla Deleted!", "alert-danger-customized")
           }
          $(".upazilla-table tbody").html(data.html_upazilla_list);  // <-- Replace the table body
          $("#modal-upazilla").modal("hide");  // <-- Close the modal
        }
        else {
          $("#modal-upazilla .modal-content").html(data.html_form);
        }
      }
    });
    return false;
  };

  /* Binding */

  function showAlert(message,alerttype) {

            $('#alert_placeholder').html('<div id="alertdiv" style="font-size:20px;margin-top:15px;" class="alert ' +  alerttype + '"><span>'+message+'</span></div>');

  }

  // Create upazilla
  $(".js-create-upazilla").click(loadForm);
  $("#modal-upazilla").on("submit", ".js-upazilla-create-form", saveForm);

  // Update upazilla
  $(".upazilla-table").on("click", ".js-update-upazilla", loadForm);
  $("#modal-upazilla").on("submit", ".js-upazilla-update-form", saveForm);

  // Delete upazilla
  $(".upazilla-table").on("click", ".js-delete-upazilla", loadForm);
  $("#modal-upazilla").on("submit", ".js-upazilla-delete-form", saveForm);

  $("#id_division").change(function () {
      var url = $("#upazillaForm").attr("data-districts-url");  // get the url of the `load_cities` view
      var divisionId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'division': divisionId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_district").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });

});



  </script>


{% endblock %}