[Unit]
Description=SKNF MIS Serivce
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/ubuntu/projectsknf/start-aws.sh
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
