{% extends 'sknf/base.html' %}
{% block body_block %}

    <!-- Main content -->
<section class="content-header">
    <h1>
        Class Orientations
    </h1>
</section>
    <section class="content">

        <!-- Main content -->
        <div class="box">
            <div class="box-header">
                <span id = "alert_placeholder">
                    {% if messages %}
                    <div id="alertdiv" style="font-size:20px;margin-top:15px;" class="alert alert-success-customized">
                        <span>
                            {% for message in messages %}
                            {{ message }}
                            {% endfor %}
                        </span>
                    </div>
                    {% endif %}
                </span>
                <button type="button"
                class="btn btn-primary pull-right js-class-orientation-create"
                data-url="{% url 'class_orientation:create_class_orientation' %}">
            <span class="fa fa-plus"></span>
            New Class Orientation
        </button>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table   id="example1" class=" class-orientation-table data-table table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="col-sm-3">Date</th>
                        <th class="col-sm-2">Class</th>
                        <th class="col-sm-1">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% include 'class_orientation/partial_class_orientation_list.html' %}

                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
                {% include 'class_orientation/_modal.html' %}
            </div>
        </div>
        <!-- /.content -->
    </section>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
$(function () {

    var loadForm = function () {
        var btn = $(this);
        $.ajax({
            url: btn.attr("data-url"),
            type: 'get',
            dataType: 'json',
            beforeSend: function () {
                $("#modal-class-orientation").modal("show");
            },
            success: function (data) {
                $("#modal-class-orientation .modal-content").html(data.html_form);
            }
        });
    };

  var saveForm = function () {
    var form = $(this);
    var formClass = form.attr("class")
    $.ajax({
      url: form.attr("action"),
      data: form.serialize(),
      type: form.attr("method"),
      dataType: 'json',
      success: function (data) {
        if (data.form_is_valid) {
           if(formClass=="js-class-orientation-create-form"){
              showAlert("Class Orientation Created!", "alert-success-customized")
           }
           if(formClass=="js-class-orientation-update-form"){
              showAlert("Class Orientation Updated!", "alert-success-customized")
           }

          $(".class-orientation-table tbody").html(data.html_class_orientation_list);  // <-- Replace the table body
          $("#modal-class-orientation").modal("hide");  // <-- Close the modal
        }
        else {
          $("#modal-class-orientation .modal-content").html(data.html_form);
        }
        }
    });
    return false;
  };

  function showAlert(message,alerttype) {

       $('#alert_placeholder').html('<div id="alertdiv" style="font-size:20px;margin-top:15px;" class="alert ' +  alerttype + '"><span>'+message+'</span></div>');
  }

  /* Binding */

  // Create Class Orientation
  $(".js-class-orientation-create").click(loadForm);
  $("#modal-class-orientation").on("submit", ".js-class-orientation-create-form", saveForm);

  // Update district
  $(".class-orientation-table").on("click", ".js-update-class_orientation", loadForm);
  $("#modal-class-orientation").on("submit", ".js-class-orientation-update-form", saveForm);



  $('.name-field').validate({
    rules : {
        name : { greaterThanZero : true }
    }
});

});

  </script>
{% endblock %}