{% extends 'sknf/base.html' %}
{% block body_block %}

<!-- Main content -->
<section class="content-header" style="padding-top:60px">
    <h1>
        Peer Education
    </h1>
</section>
<section class="content">

    <!-- Main content -->
    <form method="GET" class="search-form-class-orientation">
    <div class="box">
        <div class="box-header">
            <div class="main-box card-block" style="border: 1px solid rgb(204, 204, 204); margin-bottom: 10px; border-radius: 5px; padding-bottom: 0px;">

                    <div class="row">
                        <div class="form-group col-sm-4">
                            <strong>School</strong>
                            <input class="form-control typehead tt-query" type="search" name="school_contains" autocomplete="off" id="school-name" />
                        </div>
                        <div class="form-group col-sm-4">
                            <strong>Division</strong>
                            <input class="form-control typehead tt-query" type="search" name="division_contains" autocomplete="off" id="division-name"/>
                        </div>
                        <div class="form-group col-sm-4">
                            <strong>District</strong>
                            <input class="form-control typehead tt-query" type="search" name="district_contains" autocomplete="off" id="district-name"/>
                        </div>
                    </div>
                    <div class="form-group pull-right">
                        <button type="button" class="btn btn-primary search-peer-education">Search</button>
                    </div>
                    <div class="clearfix"></div>


            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive">
            <button type="submit" class="btn btn-primary export-class-orientation-report pull-right">Export CSV</button>
            <table   id="example1" class=" class-orientation-table table table-bordered table-striped">
                <thead>
                <tr>
                    <th class="col-sm-3">School</th>
                    <th class="col-sm-1">Date</th>
                    <th class="col-sm-2">Place</th>
                    <th class="col-sm-2">Topics</th>
                    <th class="col-sm-2">Division</th>
                    <th class="col-sm-2">District</th>
                </tr>
                </thead>
                <tbody>
                {% for class_orientation in classorientation_list %}
                <tr>
                    <td>{{ class_orientation.school }}</td>
                    <td>{{ class_orientation.created_date }}</td>
                    <td>{{ class_orientation.get_place_display }}</td>
                    <td>
                        {% for topic in class_orientation.topic.all %}
                        {% if forloop.last %}
                        {{topic.name}}
                        {% else %}
                        {{topic.name}},
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ class_orientation.school.division }}</td>
                    <td>{{ class_orientation.school.district }}</td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>

                </tfoot>
            </table>
            <p class="table-information">Showing {{ classorientation_list.start_index }} to {{ classorientation_list.end_index }} of {{ classorientation_list.paginator.count }} entries</p>
            {% include 'class_orientation/_modal.html' %}
            <ul class="pagination" style="float: right">

                {% if classorientation_list.has_previous %}
                <li><a class="paginator" href="?page={{ classorientation_list.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                {% else %}
                <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
                {% endif %}

                {% if classorientation_list.number|add:'-4' > 1 %}
                <li><a class="paginator" href="?page={{ classorientation_list.number|add:'-5' }}">&hellip;</a></li>
                {% endif %}

                {% for i in classorientation_list.paginator.page_range %}
                {% if classorientation_list.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% elif i > classorientation_list.number|add:'-5' and i < classorientation_list.number|add:'5' %}
                <li><a class="paginator" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}

                {% if classorientation_list.paginator.num_pages > classorientation_list.number|add:'4' %}
                <li><a class="paginator" href="?page={{ classorientation_list.number|add:'5' }}">&hellip;</a></li>
                {% endif %}

                {% if classorientation_list.has_next %}
                <li><a class="paginator" href="?page={{ classorientation_list.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                {% else %}
                <li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
                {% endif %}

            </ul>
        </div>
    </div>
        </form>
    <!-- /.content -->
</section>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
    $(function () {
        $('#reports, .peer-education-menu').addClass('active');
        $("#reports").addClass("menu-open");
        $("#reports .treeview-menu").css("display", "block");
        var name, division, district;
        $('.class-orientation-table').dataTable({
            'lengthChange': false,
            'searching'   : false,
            'info'        : false,
            'paging'      : false,
        });
        $('.search-peer-education').on('click', function () {
            $(".class-orientation-table").DataTable().destroy();
            name_contains = $('#school-name').val();
            division_contains = $('#division-name').val();
            district_contains = $('#district-name').val();
            name = name_contains, division = division_contains, district = district_contains;
            $.ajax({
                type: 'GET',
                url: '/class_orientation/class_orientation_search_list/',
                data: {
                    'name_contains': name_contains,
                    'division_contains': division_contains,
                    'district_contains': district_contains,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (data) {
                    if (data.form_is_valid) {

                        $(".box-body").html(data.html_list);  // <-- Replace the table body
                    }
                    $(".class-orientation-table").dataTable({
                        'lengthChange': false,
                        'searching'   : false,
                        'info'        : false,
                        'paging'      : false,
                    });
                }
            });
        });
        pagination(".box-body", '/class_orientation/class_orientation_search_list/', name, division, district, '.box-body .class-orientation-table');
        autoSuggesion('/load_previous_schools/', "input[name='school_contains']");
        autoSuggesion('/load_previous_divisions/', "input[name='division_contains']");
        autoSuggesion('/load_previous_districts/', "input[name='district_contains']");
        $(".box").on('click', '.export-class-orientation-report', function() {
            $('.search-form-class-orientation').prop('action', '/class_orientation/class_orientation_search_list/export')
        });
    });
</script>
{% endblock %}