<form method="post" action="{% url 'topics:delete_topics' topics.id %}" class="js-topics-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{topic_strings.TOPIC_DELETE_CONFIRMATION}}</h4>
  </div>
  <div class="modal-body">
    <p class="lead">{{topic_strings.DELETION_MESSEGE|format:topics.name}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">{{common_strings.CLOSE_BUTTON}}</button>
    <button type="submit" class="btn btn-danger">{{common_strings.DELETE_BUTTON}}</button>
  </div>
</form>