{% extends 'sknf/base.html' %}
{% block body_block %}

    <!-- Main content -->
<section class="content-header" style="padding-top:60px">
    <h1>
        SK Members
    </h1>
</section>
    <section class="content">

         <div class="box">
        <div class="box-header">
            <div class="shop-search main-box card-block" style="border: 1px solid rgb(204, 204, 204); margin-bottom: 10px; border-radius: 5px; padding-bottom: 0px;">
                <h3>SK Member Search</h3>
                <form method="GET" action=".">
                    <div class="row">
                        <div class="form-group col-sm-4">
                                <strong>Name</strong>
                            {% if name is not None %}
                                <input class="form-control" type="search" name="name_contains" />
                            {% else %}
                             <input class="form-control" type="search"/>
                            {% endif %}

                        </div>
                        <div class="form-group col-sm-4">
                                <strong>School</strong>
                            {% if school is not None %}
                                <input class="form-control " type="search" name="school_contains" />
                            {% else %}
                             <input class="form-control " type="search"/>
                            {% endif%}
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>

                </form>
            </div>
        </div>


        <!-- Main content -->
        <div class="box">
            <div class="box-header">
                <span id = "alert_placeholder">
                    {% if messages %}
                    <div id="alertdiv" style="font-size:20px;margin-top:15px;" class="alert alert-success-customized">
                        <span>
                            {% for message in messages %}
                            {{ message }}
                            {% endfor %}
                        </span>
                    </div>
                    {% endif %}
                </span>

                <a type="button"
                   class="btn btn-primary pull-right"
                   href="{% url 'skmembers:skmember_add' %}">
                    <span class="fa fa-plus"></span>
                    New SK Member
                </a>
                <a type="button" style="margin-right: 5px"
                   class="btn btn-primary pull-right"
                   href="{% url 'school:export_school' %}">
                    <span class="fa file-export"></span>
                    Export CSV
                </a>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table   id="example1" class=" data-table table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="col-sm-3">Name</th>
                        <th class="col-sm-2">Email</th>
                        <th class="col-sm-2">Mobile</th>
                        <th class="col-sm-3">School</th>
                        <th class="col-sm-1">Class</th>
                        <th class="col-sm-1">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for skmember in queryset %}
                    <tr>
                        <td>{{skmember.user.first_name}}</td>
                        <td>{{ skmember.user.email }}</td>
                        <td>{{ skmember.mobile }}</td>
                        <td>{{ skmember.school }}</td>
                        <td>{{ skmember.student_class }}</td>
                        <td align="center"><a type="button" style="margin-right:10px"
                               class=""
                               href="{% url 'skmembers:skmember_detail' skmember.pk %}">
                            <span class="fa fa-eye"></span>
                        </a>
                            <a type="button"
                               class=""
                               href="{% url 'skmembers:skmember_update' skmember.pk %}">
                                <span class="fa fa-edit"></span>

                            </a>
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>
        </div>
        <!-- /.content -->
    </section>
{% endblock %}