{% extends 'sknf/base.html' %}
{% block body_block %}
    {% load widget_tweaks %}
    {% load static %}
    <form method='POST' enctype="multipart/form-data" novalidate>
        <section class="content-header" >
            {% if not profile_form.instance.pk %}
                <h1>{{ sk_strings.NEW_SKMEMBER_PAGE_TITLE }}</h1>
            {% else %}
                <h1>{{ sk_strings.UPDATE_SKMEMBER_PAGE_TITLE}}</h1>
            {% endif %}
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            {% if not profile_form.instance.pk %}
                                <h3 class="box-title">{{ sk_strings.SK_MEMBER_BASIC_INFO }}</h3>
                            {% else %}
                                <h3 class="box-title">{{ sk_strings.SK_MEMBER_BASIC_INFO }}</h3>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="box-body">
                                    <!-- Color Picker -->
                                    <span id = "alert_placeholder">
                                        {% if user_form.errors or profile_form.errors %}
                                            <div id="alertdiv"  class="alert alert-danger-error-message">
                                            <span>
                                                {% for field in user_form %}
                                                    <li class="help-block">{{ field.errors|striptags }}</li>
                                                {% endfor %}
                                                {% for field in profile_form %}
                                                    <li class="help-block">{{ field.errors|striptags }}</li>
                                                {% endfor %}
                                            </span>
                                        </div>
                                        {% endif %}
                                    </span>
                                    {% csrf_token %}

                                    <div class="form-group">
                                        <label for="{{ user_form.first_name.id_for_label }}">{{ sk_strings.SK_MEMBER_TABLE_HEADER_NAME }}</label>
                                        {% render_field profile_form.name class="form-control" placeholder=sk_strings.SK_MEMBER_TABLE_HEADER_NAME %}
                                    </div>

                                    <div class="form-group">
                                        <label for="{{ user_form.email.id_for_label }}">{{ sk_strings.EMAIL_TEXT }}</label>
                                        {% render_field profile_form.email class="form-control" placeholder=sk_strings.EMAIL_TEXT %}
                                    </div>

                                    <div class="form-group">
                                        <label for="{{ profile_form.mobile.id_for_label }}">{{ profile_form.mobile.label }}</label>
                                        {% render_field profile_form.mobile class="form-control" placeholder=profile_form.mobile.label %}
                                    </div>

                                    <div class="form-group">
                                        <label for="{{ profile_form.student_class.id_for_label }}">{{ sk_strings.SK_MEMBER_TABLE_HEADER_CLASS }}</label>
                                        {% render_field profile_form.student_class class="form-control" placeholder=profile_form.student_class.label %}
                                    </div>

                                    <div class="form-group">
                                        <label for="{{ profile_form.roll.id_for_label }}">{{ profile_form.roll.label }}</label>
                                        {% render_field profile_form.roll class="form-control" placeholder=profile_form.roll.label %}
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ profile_form.gender.id_for_label }}">{{ profile_form.gender.label }}</label>
                                        {% render_field profile_form.gender class="form-control" placeholder=profile_form.gender.label %}
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6"><br />
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="col-sm-12">
                                            {% if profile_form.instance.pk and skmember_profile.image %}
                                                <img  width="220" src="{{ skmember_profile.image.url }}" class="jcrop-holder pull-right" alt="Pic"><br />
                                            {% else %}
                                                <img  width="220" src="{% static 'sknf/images/blank-profile-picture-973460_960_720.png' %}" class="jcrop-holder pull-right" alt="Pic"><br />
                                            {% endif %}
                                        </div>
                                    </div>
                                    <label for="id_PF-image" class="image-label btn btn-primary pull-right" >{{ common_strings.SELECT_IMAGE_BUTTON }}</label>
                                    <input type="file" accept="image/*" class="img-preview pull-right" id="id_PF-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% render_field profile_form.image_base64 %}
            {% include 'sknf/_crop_modal.html' %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{ sk_strings.NEW_SCHOOL_INFO_TEXT }}</h3>
                        </div>
                        <div class="box-body required">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="{{ profile_form.school.id_for_label }}">{{ sk_strings.SK_MEMBER_TABLE_HEADER_SCHOOL }}</label>
                                        <input type="text" class="form-control" value="{{profile.school}}" readonly>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="{{ profile_form.joining_date.id_for_label }}">{{ sk_strings.DATE_FROM }}</label>
                                        <input type="text" class="datepicker copydate form-control"  />
                                        <div class="join-date">
                                            {% render_field profile_form.joining_date class="form-control pastedate" %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="id_hf-from_date">{{ sk_strings.DATE_TO }}</label>
                                        <input type="text" name="hf-from_date" readonly class="form-control" id="id_hf-from_date"><input type="hidden" name="initial-hf-from_date" value="2019-09-18 07:40:03+00:00" class="form-control" id="initial-hf-id_hf-from_date">
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <a type="button" onclick="goBack()"
                                   class="btn btn-warning pull-left"
                                   href="javascript:void(0)">
                                    Back
                                </a>

                                <input type="submit" id="save-btn" value="{{ common_strings.SAVE_BUTTON }}" class="btn btn-primary pull-right"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </form>
    {% block extra_css %}
        <style>
        #alertdiv{
            font-size:15px;
            margin-top:15px;
            padding-top: 2px;
            padding-bottom: 3px;
        }
        .help-block{
            color:red;
            margin-bottom: 5px;
        }
        .jcrop-holder{
            border-radius: 5px;
            border: 2px solid #ccc;
        }
        #id_PF-image{
            margin-top: 10px;
        }
        .join-date{
            display: none;
        }

        </style>
        {% endblock %}
{% endblock %}
{% block extra_js%}
    <script>

    </script>
{% endblock %}

<!-- /.form group -->
