{% extends 'sknf/base.html' %}
{% block body_block %}
{% load static %}
<section class="content-header" style="padding-top:60px">
    <h1>
        SK Member Info
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Basic Information</h3>
                </div>
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-6">
                        <div class="box-body">
                            <!-- School Name -->
                            <div class="form-group">
                                <label>Name:</label>
                                <input disabled type="text" value="{{skmember_detail.user.first_name}}" class="form-control my-colorpicker1">
                            </div>
                            <!-- /.form group -->
                            <div class="form-group">
                                <label>Email:</label>
                                <input type="text" value="{{skmember_detail.user.email}}" class="form-control my-colorpicker1" readonly>
                            </div>
                            <div class="form-group">
                                <label>Mobile:</label>
                                <input type="text" value="{{skmember_detail.mobile}}" class="form-control my-colorpicker1" readonly>
                            </div>
                            <div class="form-group">
                                <label>User Type:</label>
                                <input type="text" value="{{skmember_detail.user.get_user_type_display}}" class="form-control my-colorpicker1" readonly>
                            </div>
                            <div class="form-group">
                                <label>School:</label>
                                <input type="text" value="{{skmember_detail.school.name}}" class="form-control my-colorpicker1" readonly>
                            </div>
                            <div class="form-group">
                                <label>Class:</label>
                                <input type="text" value="{{skmember_detail.student_class}}" class="form-control my-colorpicker1" readonly>
                            </div>
                            <div class="form-group">
                                <label>Roll:</label>
                                <input type="text" value="{{skmember_detail.roll}}" class="form-control my-colorpicker1" readonly>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <label class="center-block text-right">Profile Picture:</label>
                                    {% if skmember_detail.image %}
                                    <img style="border-radius: 5px; border: 2px solid #ccc;" width="220" src="{{ skmember_detail.image.url }}" class="pull-right" alt="Pic"><br />
                                    {% else %}
                                    <img style="border-radius: 5px; border: 2px solid #ccc;" width="220" src="{% static 'sknf/images/blank-profile-picture-973460_960_720.png' %}" class="pull-right" alt="Pic"><br />
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
            <div class="col-md-12">
                <div class="box box-body">
                    <a type="button" style="margin-right: 5px;" onclick="goBack()"
                       class="btn btn-warning pull-left"
                       href="javascript:void(0)">
                        Back
                    </a>
                    {% if user.is_authenticated and user.user_type == 1 %}
                    <a type="button"
                       class="btn btn-primary pull-right"
                       href="{% url 'skmembers:skmember_update' skmember_detail.pk %}">
                        Edit</a>
                    {% else %}
                    <a type="button"
                       class="btn btn-primary pull-right"
                       href="{% url 'skmembers:skmember_update_for_skleader' skmember_detail.pk %}">
                        Edit
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>

</section>
{% endblock %}