{% extends 'sknf/base.html' %}
{% block body_block %}
    {% load widget_tweaks %}
    {% load static %}
    <form method='POST' enctype="multipart/form-data" novalidate>
        <section class="content-header">
            {% if not profile_form.instance.pk %}
                <h1>{{sk_strings.NEW_SKMEMBER_PAGE_TITLE}}</h1>
            {% else %}
                <h1>{{sk_strings.UPDATE_SKMEMBER_PAGE_TITLE}}</h1>
            {% endif %}
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            {% if not profile_form.instance.pk %}
                                <h3 class="box-title">{{common_strings.PROFILE_FORM_TITLE}}</h3>
                            {% else %}
                                <h3 class="box-title">{{sk_strings.UPDATE_SK_MEMBER_BASIC_INFO}}</h3>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="box-body">
                                    <span id = "alert_placeholder">
                                        {% if user_form.errors or profile_form.errors %}
                                            <div id="alertdiv" class="alert alert-danger-error-message">
                                            <span>
                                                {% for field in user_form %}
                                                    <li class="help-block" >{{ field.errors|striptags }}</li>
                                                {% endfor %}
                                                {% for field in profile_form %}
                                                    <li class="help-block">{{ field.errors|striptags }}</li>
                                                {% endfor %}
                                            </span>
                                        </div>
                                        {% endif %}
                                    </span>
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="{{ user_form.first_name.id_for_label }}">{{sk_strings.NAME_TEXT}}</label>
                                        {% render_field user_form.first_name class="form-control" placeholder=sk_strings.NAME_TEXT %}
                                    </div>

                                    <div class="form-group">
                                        <label for="{{ user_form.email.id_for_label }}">{{sk_strings.EMAIL_TEXT}}</label>
                                        {% render_field user_form.email class="form-control" placeholder=sk_strings.EMAIL_TEXT %}
                                    </div>

                                    <div class="form-group">
                                        <label for="{{ profile_form.mobile.id_for_label }}">{{ profile_form.mobile.label }}</label>
                                        {% render_field profile_form.mobile class="form-control" placeholder=profile_form.mobile.label %}
                                    </div>

                                    <div class="form-group">
                                        <label for="{{ profile_form.student_class.id_for_label }}">{{ sk_strings.CLASS_TEXT }}</label>
                                        {% render_field profile_form.student_class class="form-control" placeholder=profile_form.student_class.label %}
                                    </div>

                                    <div class="form-group">
                                        <label for="{{ profile_form.roll.id_for_label }}">{{ profile_form.roll.label }}</label>
                                        {% render_field profile_form.roll class="form-control" placeholder=profile_form.roll.label %}
                                    </div>

                                    <div class="form-group">
                                        <label for="{{ profile_form.gender.id_for_label }}">{{ profile_form.gender.label }}</label>
                                        {% render_field profile_form.gender class="form-control" placeholder=profile_form.gender.label %}
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-6"><br />
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="col-sm-12">
                                            {% if skmember_profile.image %}
                                                <img width="220" src="{{ skmember_profile.image.url }}" class="pull-right jcrop-holder " alt="Pic"><br />
                                            {% else %}
                                                <img width="220" src="{% static 'sknf/images/blank-profile-picture-973460_960_720.png' %}" class="pull-right jcrop-holder " alt="Pic"><br />
                                            {% endif %}
                                        </div>
                                    </div>
                                    <label for="id_PF-image" class="image-label btn btn-primary pull-right" >{{ common_strings.SELECT_IMAGE_BUTTON }}</label>
                                    <input type="file" accept="image/*" class="img-preview pull-right" id="id_PF-image">
                                </div>
                            </div>
                        </div>
                        {% render_field profile_form.image_base64 %}
                        {% include 'sknf/_crop_modal.html' %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="box box-body">
                                    <a type="button" onclick="goBack()"
                                       class="btn btn-warning pull-left"
                                       href="javascript:void(0)">
                                        {{ common_strings.BACK_BUTTON }}
                                    </a>

                                    <input type="submit" value="{{ sk_strings.UPDATE_SK_MEMBER_BASIC_INFO }}" class="btn btn-primary pull-right"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{sk_strings.UPDATE_SCHOOL_INFO_TEXT}}</h3>
                        </div>

                        <div class="box-body required">
                            <span id="headmasterinfoajaxupdate"></span>
                            <table class="table table-bordered mb-0" id="tb-doc">
                                <tr>
                                    <th>{{sk_strings.SCHOOL_TEXT}}</th>
                                    <th>{{sk_strings.DATE_FROM}}</th>
                                    <th>{{sk_strings.DATE_TO}}</th>
                                    <th></th>
                                </tr>
                                {% if skmember_details %}
                                    {% for headmaster_detail in skmember_details %}
                                        <tr>
                                            <td width="50%">
                                                <div class="form-group">
                                                    <select name="school[]" placeholder={{ sk_strings.SCHOOL_TEXT }} class="form-control school-headmaster select2" id="id_school2">
                                                        <option value="">---------</option>
                                                        {% for school in school_list %}
                                                            {% if headmaster_detail.school.id ==  school.id %}
                                                                <option selected value="{{ school.id }}">{{ school.name }}</option>
                                                            {% else %}
                                                                <option value="{{ school.id }}">{{ school.name }}</option>
                                                            {% endif %}

                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </td>
                                            <td width="22%">
                                                <div class="form-group">
                                                    <input value="{{ headmaster_detail.from_date|date:"d-m-Y" }}" type="text" name="from_date[]" class="form-control datepicker to-headmaster">
                                                    {% comment %}<input type="text" name="from_date[]" class="form-control from-headmaster" id="id_hf-from_date">{% endcomment %}
                                                </div>
                                            </td>
                                            <td width="22%">
                                                <div class="form-group">
                                                    <input value="{{ headmaster_detail.to_date|date:"d-m-Y" }}" type="text" name="to_date[]" class="form-control datepicker to-headmaster">
                                                </div>
                                            </td>
                                            <td class="width-50">
                                                <a href="javascript:void(0);" class="removeDoc"><span class="fa fa-trash"></span></a>
                                            </td>
                                        </tr>

                                    {% endfor %}

                                {% else %}
                                    <tr>
                                        <td width="50%">
                                            <div class="form-group">
                                                <select name="school" placeholder={{ sk_strings.SCHOOL_TEXT }} class="form-control school-headmaster select2" id="id_school1">
                                                    <option value="">---------</option>
                                                    {% for school in school_list %}
                                                        <option value="{{ school.id }}">{{ school.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </td>
                                        <td width="22%">
                                            <div class="form-group">
                                                <input type="text" name="from_date" class="form-control from-headmaster datepicker" id="id_hf-from_date1">
                                            </div>
                                        </td>
                                        <td width="22%">
                                            <div class="form-group">
                                                <input type="text" name="to_date" class="form-control to-headmaster datepicker" id="id_hf-to_date">
                                            </div>
                                        </td>
                                        <td class="width-50">
                                            <a href="javascript:void(0);" class="removeDoc"><span class="fa fa-trash"></span></a>
                                        </td>
                                    </tr>
                                {% endif %}

                            </table>
                            <br />
                            <div class="row">
                                <div class="col-sm-1">
                                    <button id="addMoreDoc" type="button" class="btn btn-info margin-top-4">
                                        <i class="ft-plus"></i> {{ sk_strings.ADD_ROW_TEXT }}
                                    </button>
                                </div>
                                <div class="col-sm-11">
                                    <img  src="{% static 'sknf/images/loading.webp' %}" alt="Loader" width="80"
                                         class="pull-right loader loader-detail" >
                                    <input type="button" value="{{ sk_strings.UPDATE_SCHOOL_INFO_BUTTON }}" class="btn btn-primary pull-right update-school" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </form>
    {% block extra_css %}
        <style>
        .loader-detail{
            position: relative;
            display: none;
            width: 50px;
            top: -6px;
        }
        </style>
        {% endblock %}
{% endblock %}
{% block extra_js%}
    <script type="text/javascript">

        $(function () {
            $(".update-school").click(function () {
                var school_headmaster = $('.school-headmaster').val();
                var to_headmaster = $('.to-headmaster').val();
                var from_headmaster = $('.from-headmaster').val();
                var isValid = true;
                var dateval;
                var startdate;
                var arraystartdate;
                var arraydateval;
                var start;
                var end;
                var today = getCurrentDate();
                var lastInputFieldValueSelector = $('#tb-doc tr:last-child td:nth-child(3) input').val();
                var arraylastInputFieldValue = lastInputFieldValueSelector.split("-");
                var lastInputFieldValue = arraylastInputFieldValue[2]+arraylastInputFieldValue[1]+arraylastInputFieldValue[0]
                var lastInputFieldValue = parseInt(lastInputFieldValue);
                today = parseInt(today);

                $('#tb-doc tr td input, #tb-doc tr td select').not('#tb-doc tr:last-child td:nth-child(3) input').each(function () {
                    if (!$(this).val()) {
                        $(this).css("border", "1px solid red");
                        isValid = false;
                    }else {
                        $(this).css("border", "1px solid #d2d6de");
                    }
                });



                if (isValid){

                    var formvalid = true;

                    $('#tb-doc tr td input').each(function () {
                        dateval = $(this).val();
                        if (!startdate) {
                            startdate = $(this).val();
                        }else {
                            arraystartdate = startdate.split("-");
                            arraydateval = dateval.split("-");
                            start = arraystartdate[2]+arraystartdate[1]+arraystartdate[0];
                            end = arraydateval[2]+arraydateval[1]+arraydateval[0];

                            if(start >= end)
                            {
                                $(this).css("border", "1px solid red");
                                formvalid = false;
                            }else {
                                $(this).css("border", "1px solid #d2d6de");
                            }
                        }
                        startdate = dateval;
                    });

                    if(lastInputFieldValue > today)
                    {
                        $('#tb-doc tr:last-child td:nth-child(3) input').css("border", "1px solid red");
                        formvalid = false;
                    }

                    if (formvalid == false){
                        return false;
                    }

                    var school = $('#tb-doc select[name^=school]').map(function(idx, elem) {
                        return $(elem).val();
                    }).get();

                    var from_date = $('#tb-doc input[name^=from_date]').map(function(idx, elem) {
                        return $(elem).val();
                    }).get();

                    var to_date = $('#tb-doc input[name^=to_date]').map(function(idx, elem) {
                        return $(elem).val();
                    }).get();

                    school = school.toString();
                    from_date = from_date.toString();
                    to_date = to_date.toString();

                    headmaster_id = {{ pk }}
                        $.ajax({
                            url: '/skmembers/skmember_school_details_update',
                            data: {
                                'school': school,
                                'from_date': from_date,
                                'to_date': to_date,
                                'headmaster_id': headmaster_id,
                            },
                            beforeSend: function () {
                                $('.update-school').hide()
                                $('.loader').show()

                            },
                            success: function (data) {
                                var str = '<div id="alertdiv" style="font-size:20px;margin-top:15px;" class="alert alert-success-customized"><span>{{ sk_strings.SCHOOL_INFO_UPDATED_MESSAGE }}</span> </div>'
                                $('#headmasterinfoajaxupdate').html(str);
                                $("#headmasterinfoajaxupdate").fadeTo(2000, 500).slideUp(500, function() {
                                    $("#headmasterinfoajaxupdate").slideUp(500);
                                });
                                $('.loader').hide(1000)
                                $('.update-school').show(1500)
                            }
                        });
                }

            });
            rowAddRemove();
        });

        function initDatepicker(){
            $('.datepicker:not(".dp-inited")').datepicker({
                'format' : 'dd-mm-yyyy'
            }).addClass("dp-inited");
            // $('.datepicker').datepicker('setDate', new Date());

        }

        function initSelect2(){
            $(".select2").select2().addClass("s2-inited")
        }

        function addRow(){
            var html = `<tr>
                <td width="50%">
                    <div class="form-group">
                       <select name="school" placeholder="School" class="form-control school-headmaster select2">
                            <option value="">---------</option>
                            {% for school in school_list %}
                                <option value="{{ school.id }}">{{ school.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </td>
                <td width="22%">
                    <div class="form-group">
                        <input type="text" name="from_date" class="form-control from-headmaster datepicker" id="id_hf-from_date1">
                    </div>
                </td>
                <td width="22%">
                    <div class="form-group">
                        <input type="text" name="to_date" class="form-control to-headmaster datepicker" id="id_hf-to_date">
                    </div>
                </td>
                <td class="width-50">
                    <a href="javascript:void(0);" class="removeDoc"><span class="fa fa-trash"></span></a>
                </td>
            </tr>`;

            $("#tb-doc").append(html);
            initDatepicker();
            initSelect2();
            $("form :input").attr("autocomplete", "off");
        }
    </script>
{% endblock %}



<!-- /.form group -->
