{% extends 'sknf/base.html' %}
{% block body_block %}

<!-- Main content -->
<section class="content-header">
    <h1>
        {{sk_strings.SK_MEMBER_LIST_TITLE}}
    </h1>
</section>
<section class="content">

    <div class="box">
        <form method="GET" action="." class="search-form-skmember">
            <div class="box-header">
                <div class="shop-search main-box card-block">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <strong>{{sk_strings.NAME_TEXT}}</strong>
                            {% if name is not None %}
                            <input class="form-control" value="" type="search" name="name_contains" />
                            {% else %}
                            <input class="form-control" type="search" name="name_contains"/>
                            {% endif %}

                        </div>
                        <div class="form-group col-sm-4">
                            <strong>{{sk_strings.SCHOOL_TEXT}}</strong>
                            {% if school is not None %}
                            <input class="form-control " type="search" value="" name="school_contains" />
                            {% else %}
                            <input class="form-control " type="search" name="school_contains"/>
                            {% endif%}
                        </div>
                        <div class="form-group col-sm-4">
                            <strong>{{sk_strings.MOBILE_TEXT}}</strong>
                            {% if school is not None %}
                            <input class="form-control " type="search" value="" name="mobile_contains" />
                            {% else %}
                            <input class="form-control " type="search" name="mobile_contains" />
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <strong>{{sk_strings.DIVISION_TEXT}}</strong>
                            {% if name is not None %}
                            <input class="form-control" type="search" value="" name="division_contains" />
                            {% else %}
                            <input class="form-control" type="search" name="division_contains"/>
                            {% endif %}
                        </div>

                        <div class="form-group col-sm-3">
                            <strong>{{sk_strings.DISTRICT_TEXT}}</strong>
                            {% if school is not None %}
                            <input class="form-control " type="search" value="" name="district_contains" />
                            {% else %}
                            <input class="form-control " type="search" name="district_contains" />
                            {% endif %}
                        </div>
                        <div class="form-group col-sm-3">
                            <strong>{{sk_strings.UPAZILA_TEXT}}</strong>
                            {% if school is not None %}
                            <input class="form-control " type="search" value="" name="upazila_contains" />
                            {% else %}
                            <input class="form-control " type="search" name="upazila_contains" />
                            {% endif %}
                        </div>
                        <div class="form-group col-sm-3">
                            <strong>{{sk_strings.UNION_TEXT}}</strong>
                            {% if school is not None %}
                            <input class="form-control " type="search" value="" name="union_contains" />
                            {% else %}
                            <input class="form-control " type="search" name="union_contains" />
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group pull-right">
                        <button type="submit" class="btn btn-primary search-skmember">{{common_strings.SEARCH_BUTTON}}</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Main content -->

            <div class="box-header">
                <span id = "alert_placeholder">
                    {% if messages %}
                    <div id="alertdiv" class="alert alert-success-customized">
                        <span>
                            {% for message in messages %}
                            {{ message }}
                            {% endfor %}
                        </span>
                    </div>
                    {% endif %}
                </span>

                <a type="button"
                   class="btn btn-primary pull-right"
                   href="{% url 'skmembers:skmember_add' %}">
                    <span class="fa fa-plus"></span>
                    {{sk_strings.NEW_SKMEMBER_BUTTON}}
                </a>
                <button type="submit" class="btn btn-primary export-skmember pull-right">{{common_strings.EXPORT_CSV_BUTTON_TEXT}}</button>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table   id="example1" class=" skmember-search-table table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="col-sm-2">{{ sk_strings.NAME_TEXT }}</th>
                        <th class="col-sm-2">{{ sk_strings.MOBILE_TEXT }}</th>
                        <th class="col-sm-4">{{ sk_strings.SCHOOL_TEXT }}</th>
                        <th class="col-sm-1">{{ sk_strings.DIVISION_TEXT }}</th>
                        <th class="col-sm-1">{{ sk_strings.DISTRICT_TEXT }}</th>
                        <th class="col-sm-1">{{ sk_strings.UPAZILA_TEXT }}</th>
                        <th class="fixed-col col-sm-1 text-center">{{ common_strings.LIST_ACTION_TEXT }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for skmember in queryset %}
                    <tr>
                        <td>{{skmember.user.first_name}}</td>
                        <td>{{ skmember.mobile }}</td>
                        <td>{{ skmember.school }}</td>
                        <td>{{ skmember.school.division }}</td>
                        <td>{{ skmember.school.district }}</td>
                        <td>{{ skmember.school.upazilla }}</td>
                        <td align="center">
                            <a type="button"
                               class="detail-icon"
                               href="{% url 'skmembers:skmember_detail' skmember.pk %}">
                                <span class="fa fa-eye"></span>
                            </a>
                            <a type="button"
                               class=""
                               href="{% url 'skmembers:skmember_update' skmember.pk %}">
                                <span class="fa fa-edit"></span>

                            </a>
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
                {% if queryset %}
                <p class="table-information">{% format_values common_strings.PAGINATION_INFO queryset.start_index queryset.end_index queryset.paginator.count %}</p>
                {% else %}
                <p class="table-information">{{common_strings.PAGINATION_NULL_INFO_TEXT}}</p>
                {% endif %}
                <ul class="pagination">

                    {% if queryset.has_previous %}
                    <li><a class="paginator" href="?page={{ queryset.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                    {% else %}
                    <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
                    {% endif %}

                    {% if queryset.number|add:'-4' > 1 %}
                    <li><a class="paginator" href="?page={{ queryset.number|add:'-5' }}">&hellip;</a></li>
                    {% endif %}

                    {% for i in queryset.paginator.page_range %}
                    {% if queryset.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% elif i > queryset.number|add:'-5' and i < queryset.number|add:'5' %}
                    <li><a class="paginator" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}

                    {% if queryset.paginator.num_pages > queryset.number|add:'4' %}
                    <li><a href="?page={{ queryset.number|add:'5' }}">&hellip;</a></li>
                    {% endif %}

                    {% if queryset.has_next %}
                    <li><a class="paginator" href="?page={{ queryset.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                    {% else %}
                    <li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
                    {% endif %}

                </ul>
            </div>
        </form>
    </div>
    <!-- /.content -->
</section>
{% block extra_css %}
<style>
    .shop-search{
        border: 1px solid rgb(204, 204, 204);
        margin-bottom: 10px;
        border-radius: 5px;
        padding-bottom: 0px;
    }
    .export-skmember{
        margin-right: 5px;
    }
    .detail-icon{
        margin-right: 10px;
    }
</style>
{% endblock %}
{% endblock %}
{% block extra_js %}
<script>
    $(function () {
        var name, school,mobile,division,district,upazila,union;
        $('.skmember-search-table').dataTable({
            'lengthChange': false,
            'searching': false,
            'info': false,
            'paging': false,
            'ordering'    : false,
            "language": {
                "emptyTable":     "No Result Found"
            }
        });

        $('.search-skmember').on('click', function (event) {
            event.preventDefault();
            $(".skmember-search-table").DataTable().destroy();
            name_contains = $("input[name='name_contains']").val();
            school_contains = $("input[name='school_contains']").val();
            mobile_contains = $("input[name='mobile_contains']").val();
            division_contains = $("input[name='division_contains']").val();
            district_contains = $("input[name='district_contains']").val();
            upazila_contains = $("input[name='upazila_contains']").val();
            union_contains = $("input[name='union_contains']").val();
            name = name_contains, school = school_contains, mobile = mobile_contains, division = division_contains,
                district = district_contains, upazila = upazila_contains, union = union_contains;
            $.ajax({
                type: 'GET',
                url: '/skmembers/search_skmember_list/',
                data: {
                    'name_contains': name_contains,
                    'school_contains': school_contains,
                    'mobile_contains' : mobile_contains,
                    'division_contains' : division_contains,
                    'district_contains': district_contains,
                    'upazila_contains' : upazila_contains,
                    'union_contains' : union_contains,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (data) {
                    if (data.form_is_valid) {

                        $(".box-body").html(data.html_list);  // <-- Replace the table body
                    }
                    $(".skmember-search-table").dataTable({
                        'lengthChange': false,
                        'searching': false,
                        'info': false,
                        'paging': false,
                        'ordering'    : false,
                        "language": {
                            "emptyTable":     "No Result Found"
                        }
                    });
                }
            });
        });
        // auto suggesion
        autoSuggesion('/load_previous_users/', "input[name='name_contains']");
        autoSuggesion('/load_previous_schools/', "input[name='school_contains']");
        autoSuggesion('/load_previous_divisions/', "input[name='division_contains']");
        autoSuggesion('/load_previous_districts/', "input[name='district_contains']");
        autoSuggesion('/load_previous_upazillas/', "input[name='upazila_contains']");
        autoSuggesion('/load_previous_unions/', "input[name='union_contains']");
        autoSuggesion('/load_previous_skmember_mobile/', "input[name='mobile_contains']");
        // auto suggesion

        $('.box-body').on('click', '.paginator', function (e) {
            e.preventDefault();
            var addressValue = $(this).attr("href");
            var url = '/skmembers/search_skmember_list/'+addressValue;
            paginator(".table-responsive", url, '.skmember-search-table', {'name': name, 'school':school, 'division':division,
                'district':district, 'upazila':upazila, 'union':union, 'form_date':'', 'to_date':'', 'topic':'','mobile':mobile});
        });
    });
    //for skmember search export
    $(".export-skmember").click(function() {
        $('.search-form-skmember').prop('action', '/skmembers/skmember_list/export')
    });

    // $(".search-skmember").click(function() {
    //     $('.search-form-skmember').prop('action', '/skmembers/skmember_list');
    // });
    //for skleader search export
</script>
{% endblock %}

