
<button type="submit" class="btn btn-primary export-peer-education-report pull-right">Export CSV</button>
<table   id="example1" class=" data-table peer-education-table table table-bordered table-striped">
    <thead>
    <tr>
        <th class="col-sm-3">School</th>
        <th class="col-sm-1">Date</th>
        <th class="col-sm-2">Place</th>
        <th class="col-sm-2">Topic</th>
        <th class="col-sm-2">Division</th>
        <th class="col-sm-2">District</th>
    </tr>
    </thead>
    <tbody>
    {% for peer_education in peereducation_list %}
    <tr>
        <td>{{ peer_education.school }}</td>
        <td>{{ peer_education.created_date }}</td>
        <td>{{ peer_education.get_place_display }}</td>
        <td>
            {% for topic in peer_education.topic.all %}
            {% if forloop.last %}
            {{topic.name}}
            {% else %}
            {{topic.name}},
            {% endif %}
            {% endfor %}
        </td>
        <td>{{ peer_education.school.division }}</td>
        <td>{{ peer_education.school.district }}</td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>

    </tfoot>
</table>
<p class="table-information">Showing {{ peereducation_list.start_index }} to {{ peereducation_list.end_index }} of {{ peereducation_list.paginator.count }} entries</p>
<ul class="pagination" style="float: right">

    {% if peereducation_list.has_previous %}
    <li><a class="paginator" href="?page={{ peereducation_list.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
    {% else %}
    <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
    {% endif %}

    {% if peereducation_list.number|add:'-4' > 1 %}
    <li><a class="paginator" href="?page={{ peereducation_list.number|add:'-5' }}">&hellip;</a></li>
    {% endif %}

    {% for i in peereducation_list.paginator.page_range %}
    {% if peereducation_list.number == i %}
    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% elif i > peereducation_list.number|add:'-5' and i < peereducation_list.number|add:'5' %}
    <li><a class="paginator" href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}

    {% if peereducation_list.paginator.num_pages > peereducation_list.number|add:'4' %}
    <li><a href="?page={{ peereducation_list.number|add:'5' }}">&hellip;</a></li>
    {% endif %}

    {% if peereducation_list.has_next %}
    <li><a class="paginator" href="?page={{ peereducation_list.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
    {% else %}
    <li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
    {% endif %}

</ul>