{% extends 'sknf/base.html' %}
{% block body_block %}
{% load widget_tweaks %}
{% load static %}
<form method='POST' novalidate>
<section class="content-header">
{% if not form.instance.pk %}
   <h1>Add New Peer Education</h1>
{% else %}
    <h1>Update Peer Education Info</h1>
{% endif %}
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <div class="box box-info">
                <div class="box-header with-border">
                    {% if not form.instance.pk %}
                    <h3 class="box-title">Basic Information</h3>
                    {% else %}
                    <h3 class="box-title">Basic Information</h3>
                    {% endif %}
                </div>
                <div class="box-body">
                    <!-- Color Picker -->
                    <span id = "alert_placeholder">
                        {% if form.errors %}
                        <div id="alertdiv" style="font-size:15px;margin-top:15px;padding-top: 2px;
                            padding-bottom: 3px;" class="alert alert-danger-error-message">
                            <span>
                                {% for field in form %}
                                    <li class="help-block" style="color:red;margin-bottom: 5px;">{{ field.errors|striptags }}</li>
                                {% endfor %}
                            </span>
                        </div>
                        {% endif %}
                    </span>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ peer_education_form.created_date.id_for_label }}">Date</label>
                        {% render_field peer_education_form.created_date class="form-control datepicker" %}
                    </div>

                    <div class="form-group">
                        <label for="{{ peer_education_form.student_class.id_for_label }}">Class</label>
                        {% render_field peer_education_form.student_class class="form-control" %}
                    </div>

                    <div class="form-group">
                        <label for="{{ peer_education_form.topic.id_for_label }}">{{ peer_education_form.topic.label }}</label>
                        {% render_field peer_education_form.topic class="form-control" placeholder=peer_education_form.topic.label %}
                    </div>
                    <!-- /.box-footer -->

                </div>
            </div>
        </div>

        <!-- /.box-body -->
        <div class="col-md-6">

        </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-body">
                        {% if not profile_form.instance.pk %}
                            <a type="button" style="margin-right: 5px;" onclick="goBack()"
                               class="btn btn-warning pull-left"
                               href="javascript:void(0)">
                                Back
                            </a>
                        {% else %}

                        {% endif %}

                        <input type="submit" value="Save" id="save-btn" class="btn btn-primary pull-right"/>
                    </div>
                </div>
            </div>

</section>
</form>
{% endblock %}