{% load widget_tweaks %}
{% load static %}
<form action="{% url 'peer_education:create_peer_education' %}" class="js-peer-education-create-form" method='POST' novalidate>
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">New Peer Education</h4>
    </div>
    <div class="modal-body">
        <div class="{% if form.non_field_errors %}text-danger{% endif %}">
            {% for error in form.non_field_errors %}
            {{ error }}
            {% endfor %}
        </div>

        {% for field in form %}
        <div class="form-group">
            <div class="{% if field.errors %} invalid{% endif %}">
                {% for error in field.errors %}
                <p class="text-danger">{{ error }}</p>
                {% endfor %}
            </div>
            {% if field.label == 'Date' %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% render_field field placeholder=field.label class="form-control datepicker date-field" %}
            {% elif field.label == 'Place' %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% render_field field class="" placeholder=field.label %}
            {% else %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% render_field field class="" placeholder=field.label %}
            {% endif %}
        </div>
        {% endfor %}

    </div>
    <div class="modal-footer">

        <input type="submit" value="Save" id="peerSubmit" class="btn btn-primary"/>

    </div>
</form>
<script>
    initDatepicker();
    //for Disabling cache
    $("form :input").attr("autocomplete", "off");
    //for Disabling cache

</script>
<!-- /.form group -->
{% block extra_css %}
<style type="text/css">
    .date-field{
        max-width: 50%;
    }
</style>
{% endblock %}