@media only screen
and (min-width : 1024px) {
    html, body {
        height: 100%
    }

    body {
        color: #FFF;
        padding: 0;
        margin: 0;
    }

    header {
        background-color: #ffffff;
        height: 130px;
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
        position: relative;
        z-index: 1001;
    }

    main {
        background-color: #2a2a86;
        height: calc(100% - 180px);
    }

    footer {
        background-color: #fff;
        height: 50px;
        color: #444;
        padding: 15px;
    }
    .form-horizontal .form-group {
        margin-right: 0px;
    }

    #sknf-logo {
        padding: 8px 8px 8px 38px;
    }

    .main-container {
        height: 100%;
    }

    .sknf-info {
        color: #ffffff;
    }
    .col-md-6.sign-in-col {
        padding-right: 15px;
    }
    #map {
        height: 100%;
    }

    .main-container-col {
        height: 100%;
        padding-left: 0px;
    }

    h4 a, h4 a:hover, h4 a:focus {
        color: #ffffff;
    }

    .btn-primary {
        background-color: #2a2a86 !important;
    }

    .sign-in-info {
        padding-top: 10px;
        display: inline-block;
        color: #000;
    }

    .error-info {
        display: inline-block;
    }

    .error-msg {
        display: inline-block;
        padding-left: 5px;
    }

    .form-control-feedback {
        right: 20px;
        color: #444;
    }

    #result-wrapper {
        display: none;
        background-color: #ffffff;
        height: 100%;
        color: #000;
    }

    .col-md-6 {
        padding-right: 0px;
    }

    #search-close {
        cursor: pointer;
    }

    .mob-footer {
        display: none;
    }

    #search-form-id .col-md-6{
        padding-right: 15px;
    }

    img#sknf-logo-size {
        max-width: 100%;
    }

    /*home-page school search list pagination*/
    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 0px 0;
        border-radius: 4px;
        float: right;
    }

    .table-information {
        display: inline-block;
        margin-top: 6px;
        margin-bottom: 0px;
    }

    .pagination > .active > span {
        background-color: #2a2a86;
    }

    /* auto-complete search */
    .typeahead, .tt-query, .tt-hint {
        border: 1px solid #dfe1e5;
        outline: medium none;
        padding: 8px 12px;
    }

    .tt-input:hover {
        border-color: rgba(223, 225, 229, 0);
        box-shadow: 0 1px 6px rgba(32, 33, 36, 0.20);
    }

    .tt-input:focus {
        border-color: #2a2a86;
    }

    .tt-menu {
        background-color: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        margin-top: 8px;
        padding: 8px 0;
    }

    .tt-suggestion:hover {
        cursor: pointer;
        background-color: #f2f2f2;
        color: #cd911f;
    }

    .tt-suggestion {
        font-size: 14px; /* Set suggestion dropdown font size */
        padding: 3px 20px;
        color: #2a2a86;
    }

    .tt-dataset.tt-dataset-previousItems {
        text-align: left;
    }

    .twitter-typeahead, .tt-hint, .tt-input, .tt-menu {
        width: 100%;
    }
    .sknf-stat{
        margin: 10px 25px 10px 10px;
    }
    .footer-row{
        padding:0 10px 10px 10px;
    }
    .main-height{
        min-height: 600px;
    }
}
@media only screen
and (min-width : 468px)
and (max-width : 1024px) {
    html, body {
        height: 100%
    }

    body {
        color: #FFF;
        padding: 0;
        margin: 0;
    }

    header {
        background-color: #ffffff;
        height: auto;
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
        position: relative;
        z-index: 1001;
    }

    main {
        background-color: #2a2a86;
        height: calc(100% - 50px);
    }

    footer {
        background-color: #fff;
        height: 50px;
        color: #444;
        padding: 15px;
    }
    #form-wrapper{
        margin-right: 0px;
        padding-right: 15px;
    }
    #search-form-id{
        padding-right: 15px;
    }

    #search-form-id .col-md-6{
        padding-right: 15px;
    }
    .mob-footer{
        display: none;
    }
    #sknf-logo{
        padding: 3px;
    }
    .main-container{
        height: 100%;
        margin-left: 0px;
    }
    .sknf-info{
        color: #ffffff;
    }
    #map{
        height: 100%;
    }
    .main-container-col{
        height: 100%;
        padding-left: 0px;
    }
    h4 a, h4 a:hover, h4 a:focus{
        color: #ffffff;
    }
    .btn-primary{
        background-color: #2a2a86 !important;
    }
    .sign-in-info{
        padding-top: 10px;
        display: inline-block;
        color: #000;
    }
    .error-info{
        display: inline-block;
    }
    .error-msg{
        display: inline-block;
        padding-left: 5px;
    }
    .form-control-feedback{
        right: 20px;
        color: #000;
    }
    #result-wrapper{
        display: none;
        background-color: #ffffff;
        height: 100%;
        color: #000;
    }

    .col-md-6{
        padding-right: 0px;
    }
    #search-close{
        cursor: pointer;
    }

    /*home-page school search list pagination*/
    .pagination{
        display: inline-block;
        padding-left: 0;
        margin: 0px 0;
        border-radius: 4px;
    }

    .table-information{
        display: inline-block;
        margin-top: 6px;
        margin-bottom: 0px;
    }

    .pagination>.active>span{
        background-color: #2a2a86;
    }
    /* auto-complete search */
    .typeahead, .tt-query, .tt-hint {
        border: 1px solid #dfe1e5;
        outline: medium none;
        padding: 8px 12px;
    }
    .tt-input:hover{
        border-color: rgba(223, 225, 229, 0);
        box-shadow: 0 1px 6px rgba(32,33,36,0.20);
    }
    .tt-input:focus{
        border-color: #2a2a86;
    }
    .tt-menu {
        background-color: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        margin-top: 8px;
        padding: 8px 0;
    }
    .tt-suggestion:hover {
        cursor: pointer;
        background-color: #f2f2f2;
        color: #cd911f;
    }
    .tt-suggestion {
        font-size: 14px;  /* Set suggestion dropdown font size */
        padding: 3px 20px;
        color:#2a2a86;
    }
    .tt-dataset.tt-dataset-previousItems {
        text-align: left;
    }
    .twitter-typeahead, .tt-hint, .tt-input, .tt-menu {
        width: 100%;
    }

    img#sknf-logo-size {
        width: 96%;
    }
    .form-horizontal{
        margin-right: 15px;
        margin-left: 15px;
        padding-right: 15px;
    }
    .col-sm-5{
        padding-bottom: 5px;
    }
    #sign-in{
        float: right;
    }
}
@media only screen
and (min-width : 320px)
and (max-width : 480px) {
    html, body {
        height: 100%
    }

    body {
        color: #FFF;
        padding: 0;
        margin: 0;
    }

    header {
        background-color: #ffffff;
        height: auto;
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
        position: relative;
        z-index: 1001;
    }

    main {
        background-color: #2a2a86;
        height: calc(100% - 50px);
    }

    footer {
        background-color: #fff;
        height: 50px;
        color: #444;
        padding: 15px;
        padding-right: 25px;
    }
    #form-wrapper{
        margin-right: 15px;
        padding-right: 15px;
    }
    #search-form-id{
        padding-right: 15px;
    }
    .mob-footer{
        display: block;
    }
    #sknf-logo{
        padding: 3px;
    }
    .main-container{
        height: 100%;
        margin-left: 0px;
    }
    .sknf-info{
        color: #ffffff;
    }
    #map{
        height: calc(100% - 50px);
    }
    .main-container-col{
        height: calc(100% - 50px);
        padding-left: 0px;
    }
    h4 a, h4 a:hover, h4 a:focus{
        color: #ffffff;
    }
    .btn-primary{
        background-color: #2a2a86 !important;
    }
    .sign-in-info{
        padding-top: 10px;
        display: inline-block;
        color: #000;
    }
    .error-info{
        display: inline-block;
    }
    .error-msg{
        display: inline-block;
        padding-left: 5px;
    }
    .form-control-feedback{
        right: 20px;
        color: #000;
    }
    #result-wrapper{
        display: none;
        background-color: #ffffff;
        color: #000;
        padding-left: 0px;
        padding-right: 15px;
    }
    .col-md-6{
        padding-right: 0px;
    }
    #search-close{
        cursor: pointer;
    }

    /*home-page school search list pagination*/
    .pagination{
        display: inline-block;
        padding-left: 0;
        margin: 0px 0;
        border-radius: 4px;
    }

    .table-information{
        display: inline-block;
        margin-top: 6px;
        margin-bottom: 0px;
    }

    .pagination>.active>span{
        background-color: #2a2a86;
    }
    /* auto-complete search */
    .typeahead, .tt-query, .tt-hint {
        border: 1px solid #dfe1e5;
        outline: medium none;
        padding: 8px 12px;
    }
    .tt-input:hover{
        border-color: rgba(223, 225, 229, 0);
        box-shadow: 0 1px 6px rgba(32,33,36,0.20);
    }
    .tt-input:focus{
        border-color: #2a2a86;
    }
    .tt-menu {
        background-color: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        margin-top: 8px;
        padding: 8px 0;
    }
    .tt-suggestion:hover {
        cursor: pointer;
        background-color: #f2f2f2;
        color: #cd911f;
    }
    .tt-suggestion {
        font-size: 14px;  /* Set suggestion dropdown font size */
        padding: 3px 20px;
        color:#2a2a86;
    }
    .tt-dataset.tt-dataset-previousItems {
        text-align: left;
    }
    .twitter-typeahead, .tt-hint, .tt-input, .tt-menu {
        width: 100%;
    }

    img#sknf-logo-size {
        width: 96%;
    }
    .form-horizontal{
        margin-right: 15px;
        margin-left: 15px;
        padding-right: 15px;
    }
    .col-sm-5{
        padding-bottom: 5px;
    }
    #sign-in{
        float: right;
    }
    .sknf-stat{
        margin: 10px 25px 10px 10px;
    }
    .footer-row{
        padding:0 10px 10px 10px;
    }
    .main-height{
        min-height: 996px;
    }
}
.sidebar-menu>li a span {
    font-size: 18px;
    font-weight: bold;
}