/*body{*/
/*    background: url('../images/homepage.png');*/
/*    background-size: cover;*/
/*}*/

/*home page*/
#map-result{
    position: relative;
}

#map{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
}

#search-bar{
    position: absolute;
    right: 0;
    top: 0px;
    bottom: 0px;
    width: 300px;
    border-radius: 30px 0 0 30px;
    opacity: 0.95;
    z-index: 1000;
    background: white;
    box-shadow: -5px 10px 10px #ccc;
}

#result{
    position: absolute;
    left: 0px;
    top: 110px;
    bottom: 0px;
    border-radius: 0px 30px 30px 0;
    opacity: 0.95;
    z-index: 1000;
    background: white;
    width: 300px;
    display: none;
    box-shadow: 5px 10px 10px #ccc;
}
#close{
    position: absolute;
    right: 10px;
    top: 10px;
    height: 30px;
    width: 30px;
    opacity: 1;
    z-index: 2000;
    cursor: pointer;
}

#search-close {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 29px;
    width: 34px;
    opacity: 1;
    z-index: 2000;
    background: white;
    cursor: pointer;
    padding: 0px;
    padding-left: 9px;
    padding-top: 5px;
}

#login-box{
    margin-top: 0px;
    border-top: none !important;
    border-bottom: none !important;
    box-shadow: none !important;
}

#search-box{
    border-top: none !important;
    border-bottom: none !important;
    box-shadow: none !important;
}

#home-logo{
    position: relative;
    top: 0;
    left: 0px;
    bottom: 655px;
    border-radius: 0px 0px 55px 55px;
    z-index: 1000;
    background: white;
    width: 360px;
    margin-left: -15px;
    box-shadow: 5px 10px 10px #ccc;

}

#logo-text{
    display: inline-block;
}

#logo{
    display: inline-block;
}

img#logo-text-size {
    width: 250px;
}

.btn-primary{
    background-color: #2a2a86 !important;
}

#logo-size{
    height: 75px;
    width: auto;
}

#home-logo-box{
    padding-bottom: 13px;
    padding-left: 0px;
    padding-top: 8px;
}

/*login_page*/
.col-md-6{
    height: 100%;
}
.row{
    height: 100%;
}

#login-area{
    background-color: #2a2a86;
    padding-left: 0px;
}

@media (max-width: 768px) {
    .login-box{
        width: 90%;
        margin: 0px;
        margin-left: 18px;
    }
}
#map-area{
    padding-right: 0px;
}
@media (max-width: 768px) {
    #search-close{
        padding-left: 0px;
    }
}
#search-school-form .row{
    margin-left: -15px;
}
.row{
    margin-left: 0px;
}

