
#id_UF-user_type, #id_user_type {
    list-style: none;
    padding: 0;
    display: flex;
}


#id_UF-user_type li, #id_user_type li {
    margin-right: 10px;
}

#id_UF-user_type li label, #id_user_type li label {
    text-transform: capitalize;
}

#id_UF-user_type li label input, #id_user_type li label input{
    vertical-align: middle;
    margin-top: 0;
}


.alert-success-customized {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-danger-customized {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.select2-container .select2-selection--single {
    height: 34px !important;
}

.select2 {
    width: 100% !important;
}
.removeDoc {
    display: block;
    text-align: center;
}
.removeDoc span {
    font-size: 30px;
    color: #e67373;
}
#tb-doc tr:nth-child(2) td:last-child span {
    display: none;
}