

#id_UF-user_type, #id_user_type {
    list-style: none;
    padding: 0;
    display: flex;
}


#id_UF-user_type li, #id_user_type li {
    margin-right: 10px;
}

#id_UF-user_type li label, #id_user_type li label {
    text-transform: capitalize;
}

#id_UF-user_type li label input, #id_user_type li label input{
    vertical-align: middle;
    margin-top: 0;
}


.alert-success-customized {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-danger-customized {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-danger-error-message {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    font-size: 15px;
}

.select2-container .select2-selection--single {
    height: 34px !important;
}

.select2-container .select2-selection--single {
    height: 34px !important;
}

.select2 {
    width: 100% !important;
}
.removeDoc {
    display: block;
    text-align: center;
}
.removeDoc span {
    font-size: 30px;
    color: #e67373;
}
#tb-doc tr:nth-child(2) td:last-child span {
    display: none;
}

div#modal-body-container {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

a.container-close.pull-right {
    cursor: pointer;
    color: red;
}


button.input-button.btn.btn-primary {
    margin-right: 10px;
}

.ft {
    padding-right: 10px;
    padding-left: 10px;
    float: right;
}
button.input-button.btn.btn-primary.customized {
    margin-right: 5px;
}
input#generate_password_input_field {
    padding-bottom: 5px;
    padding-top: 5px;
}

input#generate_password_input_field {
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
}

div#modal-head-container {
    background-color: #3c8dbc;
    padding-left: 10px;
    padding-right: 10px;
}

div#modal-content-container {
    margin-left: 60px;
    margin-right: 60px;
    overflow: auto;
    padding-bottom: 10px;
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    padding-right: 10px;
    z-index: 2;
    right: 3px;
}


.select2 {
    width: 100% !important;
}
.removeDoc {
    display: block;
    text-align: center;
}
.removeDoc span {
    font-size: 30px;
    color: #e67373;
}
#tb-doc tr:nth-child(2) td:last-child span {
    display: none;
}
[required] {
    border-right: 2px solid red;
}

/*club meeting form css*/
ul#id_CMF-topics {
    list-style: NONE;
}
input#id_CMF-presence_guide_teacher {
    vertical-align: text-top;
}

input#id_CMF-presence_skleader {
    /* padding-left: 10px; */
    margin-left: 40px;
}

ul#id_CMF-attendance {
    list-style: NONE;
}

input#id_CMF-date {
    border-radius: 0 !important;
}

.picture-align {
    padding-right: 10px;
}
.required .select2-container--default .select2-selection--single {
    border-right: 2px solid red;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: grid;
}


@keyframes lock{
    50%{top:-4%;}
    100%{top:-6%;}
}

@keyframes colors{
    50%{transform:scale(1.1);}
    100%{color:#ca3074;}
}

@keyframes show{
    100%{opacity:1;}
}
.skin-blue .main-header .navbar,
.skin-blue .main-header,
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side,
.btn-primary,
.pagination>.active>a, .pagination>.active>span{
    background-color: #2a2a86 !important;
}

.dropdown-menu>li.user-header {
    background-color: #2a2a86 !important;
}

.logo{
    background-color: #ffffff!important;
}

.sidebar-collapse .sidebar .box-profile {
    display:none !important;
}
.skin-blue .main-header .logo,
.profile-username,
.text-muted,
.sidebar a{
    color: #cd911f !important;
}

/* event page */
.fc-event{border: 1px solid #fff !important;}
.fc-title{font-size: 1.3em !important;}

/* class orientation page */
ul#id_topic {
    list-style: none;
    padding-left: 20px;
}

input[name=topic] {
    vertical-align: text-top;
}

.main-sidebar {
    position:fixed !important;
    height:100%;
    overflow-y:auto;
}
.profile-username, .text-muted {
    color: #fff;
}
.sidebar-menu {
    white-space: normal;
}

.logo{
    visibility: visible !important;
    z-index: 999;
}

@media screen and (max-width: 512px) {
    .logo {
        position: absolute;
        z-index: 1050;
        left: 35%;
        width: auto !important;
    }
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom.pull-right {
    right: 6px !important;
}

/*class orientation*/
ul#id_place {
    display: flex;
    list-style: none;
    padding: 0;
}

ul#id_place li{
    margin-right: 10px;
}

input[type=radio]{
    position: relative;
    top: 3px;
}

/*school post*/
.post-list-margin{
    margin-top: -15px;
}
/*eduplus_activity*/
ul#id_EPA-topics {
    list-style: none;
}
input#id_EPA-presence_skleader {
    /* padding-left: 10px; */
    margin-left: 40px;
}
ul#id_EPA-attendance {
    list-style: none;
}

@media screen and (max-width: 512px){
    .logo {
        position: absolute;
        z-index: 1050;
        margin-left: -65px;
        width: auto !important;
    }
    .skin-blue .main-header .navbar{
        background-color: #ffffff !important;
    }
    .sidebar-toggle{
        background-color: #2a2a86!important;
    }
}

/*pagination*/
.pagination{
    margin: 0px 0px;
    float: right;
}
.table-information{
    display: inline-block;
    margin-top: 6px;
    margin-bottom: 0px;
}

/* auto-complete search */
.typeahead, .tt-query, .tt-hint {
    border: 1px solid #dfe1e5;
    outline: medium none;
    padding: 8px 12px;
}
.tt-input:hover{
    border-color: rgba(223, 225, 229, 0);
    box-shadow: 0 1px 6px rgba(32,33,36,0.20);
}
.tt-input:focus{
    border-color: #2a2a86;
}
.tt-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 8px;
    padding: 8px 0;
}
.tt-suggestion:hover {
    cursor: pointer;
    background-color: #f2f2f2;
    color: #cd911f;
}
.tt-suggestion {
    font-size: 14px;  /* Set suggestion dropdown font size */
    padding: 3px 20px;
}
.tt-dataset.tt-dataset-previousItems {
    text-align: left;
}
.twitter-typeahead, .tt-hint, .tt-input, .tt-menu {
    width: 100%;
}

/*EDIT PROFILE*/
.content-header{
    padding-top:60px;
}
#alertdiv{
    font-size:15px;
    margin-top:15px;
    padding-top: 2px;
    padding-bottom: 3px;
}
.help-block{
    color:red;
    margin-bottom: 5px;
}
.jcrop-holder{
    border-radius: 5px;
    border: 2px solid #ccc;
}
#id_PF-image{
    margin-top: 10px;
    padding-bottom:10px;
    display: None;
}
/*EDIT PROFILE*/

/*Common Css*/
.content-header{
    padding-top:60px;
}
.delete-icon{
    border: none;
    background: no-repeat;
    padding-left: 3px;
    color: #DC3545;
}
.update-icon{
    border: none;
    background: no-repeat;
    color: #3c8dbc;
    padding-left: 3px;
    margin-right:10px;
}
.form-control:focus {
    border-color: #2a2a86 !important;
    box-shadow: none;
}
/*Common Css*/

.sidebar-menu>li a span {
    font-size: 18px;
    font-weight: bold;
}

.fixed-col{
    min-width: 100px;
}

.image-label{
    margin-top: 10px;
    margin-right: 86px;
    margin-bottom: 10px;
}