{% extends 'sknf/base.html' %}
{% block body_block %}
    {% load static %}
    <section class="content-header">
        <h1>
            {{ skleader_strings.DETAIL_SKLEADER_PAGE_TITLE }}
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">{{ skleader_strings.BASIC_INFO_TEXT }}</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="box-body">
                                <!-- School Name -->
                                <div class="form-group">
                                    <label>{{ skleader_strings.NAME_TEXT }}</label>
                                    <input disabled type="text" value="{{skleader_detail.user.first_name}}" class="form-control my-colorpicker1">
                                </div>
                                <!-- /.form group -->
                                <div class="form-group">
                                    <label>{{ skleader_strings.EMAIL_TEXT }}</label>
                                    <input type="text" value="{{skleader_detail.user.email}}" class="form-control my-colorpicker1" readonly>
                                </div>
                                <div class="form-group">
                                    <label>{{ skleader_strings.MOBILE_TEXT }}</label>
                                    <input type="text" value="{{skleader_detail.mobile}}" class="form-control my-colorpicker1" readonly>
                                </div>
                                <div class="form-group">
                                    <label>{{ skleader_strings.SCHOOL_TEXT }}</label>
                                    <input type="text" value="{{skleader_detail.school.name}}" class="form-control my-colorpicker1" readonly>
                                </div>
                                <div class="form-group">
                                    <label>{{ skleader_strings.CLASS_TEXT }}</label>
                                    <input type="text" value="{{skleader_detail.student_class}}" class="form-control my-colorpicker1" readonly>
                                </div>
                                <div class="form-group">
                                    <label>{{ skleader_strings.ROLL_TEXT }}</label>
                                    <input type="text" value="{{skleader_detail.roll}}" class="form-control my-colorpicker1" readonly>
                                </div>
                                <div class="form-group">
                                    <label>{{ skleader_strings.EMERGENCY_CONTACT_PERSON }}</label>
                                    <input type="text" value="{{skleader_detail.emergency_contact_person}}" class="form-control my-colorpicker1" readonly>
                                </div>
                                <div class="form-group">
                                    <label>{{skleader_strings.EMERGENCY_CONTACT_NUMBER}}</label>
                                    <input type="text" value="{{skleader_detail.emergency_contact_number}}" class="form-control my-colorpicker1" readonly>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        <label class="center-block text-right">{{ skleader_strings.PROFILE_PICTURE }}</label>
                                        {% if skleader_detail.image %}
                                            <img width="220" src="{{ skleader_detail.image.url }}" class="pull-right" alt="Pic"><br />
                                        {% else %}
                                            <img width="220" src="{% static 'sknf/images/blank-profile-picture-973460_960_720.png' %}" class="pull-right" alt="Pic"><br />
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-body">

                                <a type="button" onclick="goBack()"
                                   class="btn btn-warning pull-left"
                                   href="javascript:void(0)">
                                    {{ common_strings.BACK_BUTTON }}
                                </a>

                                <a type="button"
                                   class="btn btn-primary pull-right"
                                   href="{% url 'skleaders:skleader_update' skleader_detail.pk %}">
                                    {{ common_strings.EDIT_BUTTON }}
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- right column -->
        </div>
    </section>
{% endblock %}