{% extends 'sknf/base.html' %}
{% block body_block %}

    <!-- Main content -->
<section class="content-header">
    <h1>SK Leaders</h1>
</section>
    <section class="content">

        <!-- Main content -->
        <div class="box">
            <div class="box-header">
                <span id = "alert_placeholder">
                    {% if messages %}
                    <div id="alertdiv" style="font-size:20px;margin-top:15px;" class="alert alert-success-customized">
                        <span>
                            {% for message in messages %}
                            {{ message }}
                            {% endfor %}
                        </span>
                    </div>
                    {% endif %}
                </span>

                <a type="button"
                   class="btn btn-primary pull-right"
                   href="{% url 'skleaders:skleader_add' %}">
                    <span class="fa fa-plus"></span>
                    New SK Leader
                </a>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table   id="example1" class=" division-table table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="col-sm-2">Name</th>
                        <th class="col-sm-2">Email</th>
                        <th class="col-sm-2">School</th>
                        <th class="col-sm-3">Mobile</th>
                        <th class="col-sm-3">Class</th>
                        <th class="col-sm-1">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for skleader in skleaderprofile_list %}
                    <tr>
                        <td>{{skleader.user.first_name}}</td>
                        <td>{{ skleader.user.email }}</td>
                        <td>{{ skleader.school }}</td>
                        <td>{{ skleader.mobile }}</td>
                        <td>{{ skleader.student_class }}</td>
                        <td><a type="button"
                               class=""
                               href="{% url 'skleaders:skleader_detail' skleader.pk %}">
                            <span class="fa fa-eye"></span>
                        </a>
                            <a type="button"
                               class=""
                               href="{% url 'skleaders:skleader_update' skleader.pk %}">
                                <span class="fa fa-edit"></span>

                            </a>
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>
        </div>
        <!-- /.content -->
    </section>
{% endblock %}