{% extends 'sknf/base.html' %}
{% block body_block %}
    {% load widget_tweaks %}
    {% load static %}
    <form method='POST' enctype="multipart/form-data" novalidate>
        <section class="content-header">
            {% if not profile_form.instance.pk %}
                <h1>{{ skleader_strings.NEW_SKLEADER_PAGE_TITLE }}</h1>
            {% else %}
                <h1>{{ skleader_strings.UPDATE_SKLEADER_PAGE_TITLE }}</h1>
            {% endif %}
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            {% if not profile_form.instance.pk %}
                                <h3 class="box-title">Basic Information</h3>
                            {% else %}
                                <h3 class="box-title">Basic Information</h3>
                            {% endif %}
                        </div>

                        <div class="row" style="padding-bottom: 10px;">
                            <div class="col-sm-6">
                                <div class="box-body">
                                    <span id = "alert_placeholder">
                                    {% if user_form.errors or profile_form.errors %}
                                    <div id="alertdiv">
                                        <span>
                                            {% for field in user_form %}
                                                <li class="help-block">{{ field.errors|striptags }}</li>
                                            {% endfor %}
                                            {% for field in profile_form %}
                                                <li class="help-block">{{ field.errors|striptags }}</li>
                                            {% endfor %}
                                        </span>
                                    </div>
                                    {% endif %}
                                </span>
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="{{ user_form.first_name.id_for_label }}">{{ skleader_strings.NAME_TEXT }}</label>
                                        {% render_field user_form.first_name class="form-control" placeholder="Name" %}
                                    </div>

                                    <div class="form-group">
                                        <label for="{{ user_form.email.id_for_label }}">{{ skleader_strings.EMAIL_TEXT }}</label>
                                        {% render_field user_form.email class="form-control" placeholder="Email" %}
                                    </div>

                                    <div class="form-group">
                                        <label for="{{ profile_form.mobile.id_for_label }}">{{ profile_form.mobile.label }}</label>
                                        {% render_field profile_form.mobile class="form-control" placeholder=profile_form.mobile.label %}
                                    </div>

                                    <div class="form-group">
                                        <label for="{{ profile_form.student_class.id_for_label }}">{{ skleader_strings.CLASS_TEXT }}</label>
                                        {% render_field profile_form.student_class class="form-control" placeholder=profile_form.student_class.label %}
                                    </div>

                                    <div class="form-group">
                                        <label for="{{ profile_form.roll.id_for_label }}">{{ profile_form.roll.label }}</label>
                                        {% render_field profile_form.roll class="form-control" placeholder=profile_form.roll.label %}
                                    </div>

                                    <div class="form-group">
                                        <label for="{{ profile_form.gender.id_for_label }}">{{ profile_form.gender.label }}</label>
                                        {% render_field profile_form.gender class="form-control" placeholder=profile_form.gender.label %}
                                    </div>

                                    <div class="form-group">
                                        <label for="{{ profile_form.emergency_contact_person.id_for_label }}">{{ skleader_strings.EMERGENCY_CONTACT_PERSON }}</label>
                                        {% render_field profile_form.emergency_contact_person class="form-control" placeholder=skleader_strings.EMERGENCY_CONTACT_PERSON %}

                                    </div>

                                    <div class="form-group">
                                        <label for="{{ profile_form.emergency_contact_number.id_for_label }}">{{ skleader_strings.EMERGENCY_CONTACT_NUMBER }}</label>
                                        {% render_field profile_form.emergency_contact_number class="form-control" placeholder=skleader_strings.EMERGENCY_CONTACT_NUMBER %}

                                    </div>

                                    <div class="form-group">
                                        <label for="{{ user_form.password.id_for_label }}">{{ user_form.password.label }}</label>
                                        {% render_field user_form.password class="form-control" id="generated-pass" placeholder=user_form.password.label %}
                                        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                        <button type="button"
                                                class="btn btn-primary pull-right js-genarate-password">
                                            {{ common_strings.GENERATE_PASSWORD_BUTTON }}
                                        </button>
                                    </div>

                                    <div class="form-group">
                                        <label for="{{ user_form.confirm_password.id_for_label }}">{{ common_strings.USER_PROFILE_CONFIRM_PASSWORD }}</label>
                                        {% render_field user_form.confirm_password class="form-control" id="confirm-generated-pass" placeholder=common_strings.USER_PROFILE_CONFIRM_PASSWORD %}
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <br />
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="col-sm-12">
                                            <img width="220" src="{% static 'sknf/images/blank-profile-picture-973460_960_720.png' %}" class="jcrop-holder pull-right" alt="Pic"><br />
                                        </div>
                                    </div>
                                    <label for="id_PF-image" class="image-label btn btn-primary pull-right" >{{ common_strings.SELECT_IMAGE_BUTTON }}</label>
                                    <input type="file" accept="image/*" placeholder="Skleader image" class="pull-right img-preview" id="id_PF-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'sknf/_password_generator_modal.html' %}
            </div>
            {% render_field profile_form.image_base64 %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{ skleader_strings.SCHOOL_INFO_TEXT }}</h3>
                        </div>
                        <div class="box-body required">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="{{ profile_form.school.id_for_label }}">{{ profile_form.school.label }}</label>
                                        {% render_field profile_form.school required='true' class="form-control customer-select2" placeholder=profile_form.school.label %}
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="{{ profile_form.joining_date.id_for_label }}">{{ skleader_strings.FROM_TEXT }}</label>
                                        <input type="text" class="datepicker copydate form-control" placeholder="dd-mm-yyyy" />
                                        <div style="display: none">
                                            {% render_field profile_form.joining_date class="form-control pastedate" %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="id_hf-from_date">{{ skleader_strings.TO_TEXT }}</label>
                                        <input type="text" name="hf-from_date" readonly class="form-control" id="id_hf-from_date"><input type="hidden" name="initial-hf-from_date" value="2019-09-18 07:40:03+00:00" class="form-control" id="initial-hf-id_hf-from_date">
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <a type="button"onclick="goBack()"
                                   class="btn btn-warning pull-left"
                                   href="javascript:void(0)">
                                    {{ common_strings.BACK_BUTTON }}
                                </a>

                                <input type="submit" id="save-btn" value="{{ common_strings.SAVE_BUTTON }}" class="btn btn-primary pull-right"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </form>
    {% include 'sknf/_modal_show_image_error.html' %}
    {% include 'sknf/_crop_modal.html' %}
{% endblock %}
{% block extra_js%}
    <script>
        var currentDate;
        currentDate = getCurrentDate(true);
        $('.datepicker').val(currentDate);
        var currentStandardDate = getCurrentDateStandard()
        $('#id_PF-joining_date').val(currentStandardDate);
    </script>
{% endblock %}