{% extends 'sknf/base.html' %}
{% block body_block %}
    {% load widget_tweaks %}
    {% load static %}
    <form method='POST' enctype="multipart/form-data" novalidate>
        <section class="content-header">
            {% if not profile_form.instance.pk %}
                <h1>Add New SK Leader</h1>
            {% else %}
                <h1>Update SK Leader Info</h1>
            {% endif %}
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            {% if not profile_form.instance.pk %}
                                <h3 class="box-title">Basic Information</h3>
                            {% else %}
                                <h3 class="box-title">Basic Information</h3>
                            {% endif %}
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="box-body">
                                    <span id = "alert_placeholder">
                                    {% if user_form.errors or profile_form.errors %}
                                    <div id="alertdiv" style="font-size:15px;margin-top:15px;padding-top: 2px;
                                        padding-bottom: 3px;" class="alert alert-danger-error-message">
                                        <span>
                                            {% for field in user_form %}
                                                <li class="help-block" style="color:red;margin-bottom: 5px;">{{ field.errors|striptags }}</li>
                                            {% endfor %}
                                            {% for field in profile_form %}
                                                <li class="help-block" style="color:red;margin-bottom: 5px;" >{{ field.errors|striptags }}</li>
                                            {% endfor %}
                                        </span>
                                    </div>
                                    {% endif %}
                                </span>
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="{{ user_form.first_name.id_for_label }}">Name</label>
                                        {% render_field user_form.first_name class="form-control" placeholder="Name" %}
                                    </div>

                                    <div class="form-group">
                                        <label for="{{ user_form.email.id_for_label }}">Email Address</label>
                                        {% render_field user_form.email class="form-control" placeholder=user_form.email.label %}
                                    </div>

                                    <div class="form-group">
                                        <label for="{{ profile_form.mobile.id_for_label }}">{{ profile_form.mobile.label }}</label>
                                        {% render_field profile_form.mobile class="form-control" placeholder=profile_form.mobile.label %}
                                    </div>

                                    <div class="form-group">
                                        <label for="{{ profile_form.student_class.id_for_label }}">Class</label>
                                        {% render_field profile_form.student_class class="form-control" placeholder=profile_form.student_class.label %}
                                    </div>

                                    <div class="form-group">
                                        <label for="{{ profile_form.roll.id_for_label }}">{{ profile_form.roll.label }}</label>
                                        {% render_field profile_form.roll class="form-control" placeholder=profile_form.roll.label %}
                                    </div>

                                    <div class="form-group">
                                        <label for="{{ profile_form.emergency_contact_person.id_for_label }}">{{ profile_form.emergency_contact_person.label }}</label>
                                        {% render_field profile_form.emergency_contact_person class="form-control" placeholder=profile_form.emergency_contact_person.label %}
                                        <div class="{% if profile_form.emergency_contact_person.errors %} invalid{% endif %}">
                                            {% for error in profile_form.emergency_contact_person.errors %}
                                                <p class="help-block">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="{{ profile_form.emergency_contact_number.id_for_label }}">{{ profile_form.emergency_contact_number.label }}</label>
                                        {% render_field profile_form.emergency_contact_number class="form-control" placeholder=profile_form.emergency_contact_number.label %}
                                        <div class="{% if profile_form.emergency_contact_number.errors %} invalid{% endif %}">
                                            {% for error in profile_form.emergency_contact_number.errors %}
                                                <p class="help-block">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="{{ user_form.password.id_for_label }}">{{ user_form.password.label }}</label>
                                        {% render_field user_form.password class="form-control" id="generated-pass" placeholder=user_form.password.label %}
                                        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                        <button type="button"
                                                class="btn btn-primary pull-right js-genarate-password">
                                            Genarate Password
                                        </button>
                                    </div>

                                    <div class="form-group">
                                        <label for="{{ user_form.confirm_password.id_for_label }}">Confirm Password</label>
                                        {% render_field user_form.confirm_password class="form-control" id="confirm-generated-pass" placeholder=user_form.confirm_password.label %}
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <br />
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        <img style="border-radius: 5px; border: 2px solid #ccc;" width="220" src="{% static 'sknf/images/blank-profile-picture-973460_960_720.png' %}" class="preview-show pull-right" alt="Pic"><br />
                                    </div>
                                </div>
                                {% render_field profile_form.image class="pull-right img-preview" style="margin-top: 10px;" placeholder=profile_form.image.label %}
                            </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="col-sm-12">
                                            <img style="border-radius: 5px; border: 2px solid #ccc;" width="220" src="{% static 'sknf/images/blank-profile-picture-973460_960_720.png' %}" class="preview-show pull-right" alt="Pic"><br />
                                        </div>
                                    </div>
                                    {% render_field profile_form.image class="pull-right img-preview" style="margin-top: 10px;" placeholder=profile_form.image.label %}
                                    <div class="{% if profile_form.image.errors %} invalid{% endif %}">
                                        {% for error in profile_form.image.errors %}
                                            <p class="help-block">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'sknf/_password_generator_modal.html' %}
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">School Information</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="{{ profile_form.school.id_for_label }}">{{ profile_form.school.label }}</label>
                                        {% render_field profile_form.school required='true' class="form-control customer-select2" placeholder=profile_form.school.label %}
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="{{ profile_form.joining_date.id_for_label }}">From</label>
                                        <input type="text" class="datepicker copydate form-control"  />
                                        <div style="display: none">
                                            {% render_field profile_form.joining_date class="form-control" placeholder="Name" %}
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="id_hf-from_date">To</label>
                                        <input type="text" name="hf-from_date" readonly class="form-control" id="id_hf-from_date"><input type="hidden" name="initial-hf-from_date" value="2019-09-18 07:40:03+00:00" class="form-control" id="initial-hf-id_hf-from_date">
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <a type="button" style="margin-right: 5px;" onclick="goBack()"
                                   class="btn btn-warning pull-left"
                                   href="javascript:void(0)">
                                    Back
                                </a>

                                <input type="submit" value="Save" class="btn btn-primary pull-right"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </form>
{% endblock %}
{% block extra_js%}

{% endblock %}