{% extends 'sknf/base.html' %}
{% block body_block %}
{% load widget_tweaks %}
{% load static %}
<form method='POST' enctype="multipart/form-data" novalidate>
    <section class="content-header">
        <h1>{{account_strings.EDIT_SKLEADER_PROFILE_TITLE}}</h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{common_strings.PROFILE_FORM_TITLE}}</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="box-body">
                                <!-- Color Picker -->
                                <span id = "alert_placeholder">
                                        {% if user_form.errors %}
                                        <div id="alertdiv" class="alert alert-danger-error-message">
                                            <span>
                                                {% for field in user_form %}
                                                    <li class="help-block">{{ field.errors|striptags }}</li>
                                                {% endfor %}
                                            </span>
                                        </div>
                                        {% endif %}
                                    </span>
                                {% csrf_token %}

                                <div class="form-group">
                                    <label for="{{ user_form.first_name.id_for_label }}">{{user_form.first_name.label}}</label>
                                    {% render_field user_form.first_name class="form-control" placeholder=user_form.first_name.label %}
                                </div>

                                <div class="form-group">
                                    <label for="{{ user_form.email.id_for_label }}">{{user_form.email.label}}</label>
                                    {% render_field user_form.email class="form-control" placeholder=user_form.email.label %}
                                </div>

                                <div class="form-group">
                                    <label for="{{ user_form.password.id_for_label }}">{{ user_form.password.label }}</label>
                                    {% render_field user_form.password class="form-control" id="generated-pass" placeholder=user_form.password.label %}
                                    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                    <button type="button"
                                            class="btn btn-primary pull-right js-genarate-password">
                                        {{common_strings.GENERATE_PASSWORD_BUTTON}}
                                    </button>
                                </div>

                                <div class="form-group">
                                    <label for="{{ user_form.confirm_password.id_for_label }}">{{ user_form.confirm_password.label }}</label>
                                    {% render_field user_form.confirm_password class="form-control" id="confirm-generated-pass" placeholder=user_form.confirm_password.label %}
                                </div>


                            </div>
                        </div>
                        <div class="col-md-6"><br />
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        {% if profile_form.instance.pk and skleader_profile.image %}
                                        <img width="220" src="{{ skleader_profile.image.url }}" class="jcrop-holder pull-right" alt="Pic"><br />
                                        {% else %}
                                        <img width="220" src="{% static 'sknf/images/blank-profile-picture-973460_960_720.png' %}" class="jcrop-holder pull-right" alt="Pic"><br />
                                        {% endif %}
                                    </div>
                                </div>
                                <label for="id_PF-image" class="image-label btn btn-primary pull-right" >{{ common_strings.SELECT_IMAGE_BUTTON }}</label>
                                <input type="file" accept="image/*" class="pull-right img-preview" id="id_PF-image">
                            </div>
                            {% render_field profile_form.image_base64 %}
                        </div>
                    </div>
                </div>
            </div>
            {% include 'sknf/_password_generator_modal.html' %}
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-body">
                    <input type="submit" id="save-btn" value="{{common_strings.SAVE_BUTTON}}" class="btn btn-primary pull-right"/>
                </div>
            </div>
        </div>

    </section>
</form>
{% include 'sknf/_modal_show_image_error.html' %}
{% include 'sknf/_crop_modal.html' %}
{% endblock %}

<!-- /.form group -->
