{% extends 'sknf/base.html' %}
{% block body_block %}

<!-- Main content -->
<section class="content-header" >
    <h1>
        {{ edu_strings.EDUPLUS_ACTIVITIES_LIST_TITLE }}
    </h1>
</section>
<section class="content">

    <!-- Main content -->
    <div class="box">
        <div class="box-header">
                <span id = "alert_placeholder">
                    {% if messages %}
                    <div id="alertdiv"  class="alert alert-success-customized">
                        <span>
                            {% for message in messages %}
                            {{ message }}
                            {% endfor %}
                        </span>
                    </div>
                    {% endif %}
                </span>
            <a type="button"
               class="btn btn-primary pull-right"
               href="{% url 'eduplus_activity:eduplus_activity_add' %}">
                <span class="fa fa-plus"></span>
                {{ edu_strings.CREATE_EDUPLUS_ACTIVITIES_BUTTON_TITLE }}
            </a>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive">
            <table   id="example1" class=" eduplus-table data-table table table-bordered table-striped">
                <thead>
                <tr>
                    <th class="col-sm-1">{{ edu_strings.TABLE_HEADER_EDUPLUS_ACTIVITIES_DATE }}</th>
                    <th class="col-sm-2">{{ edu_strings.TABLE_HEADER_EDUPLUS_ACTIVITIES_TOPICS }}</th>
                    <th class="col-sm-1">{{ edu_strings.TABLE_HEADER_EDUPLUS_ACTIVITIES_METHODS }}</th>
                    <th class="col-sm-1">{{ edu_strings.TABLE_HEADER_EDUPLUS_ACTIVITIES_ATTENDANCE }}</th>
                    <th class="col-sm-3">{{ edu_strings.SEARCH_LABEL_EDUPLUS_ACTIVITIES_SCHOOL }}</th>
                    <th class="col-sm-1">{{ edu_strings.SEARCH_LABEL_EDUPLUS_ACTIVITIES_DIVISION }}</th>
                    <th class="col-sm-1">{{ edu_strings.SEARCH_LABEL_EDUPLUS_ACTIVITIES_DISTRICT }}</th>
                    <th class="col-sm-1">{{ edu_strings.TABLE_HEADER_EDUPLUS_ACTIVITIES_UPAZILA }}</th>
                    <th class="text-center col-sm-1">{{ edu_strings.TABLE_HEADER_EDUPLUS_ACTIVITIES_ACTIONS }}</th>

                </tr>
                </thead>
                <tbody>
                {% for eduplus_activity in eduplus_activity_list %}
                <tr>
                    <td>{{eduplus_activity.date | date:common_strings.DATE_FORMAT}}</td>
                    <td>
                        {% for topic in eduplus_activity.topics.all %}
                        {% if forloop.last %}
                        {{topic.name}}
                        {% else %}
                        {{topic.name}},
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ eduplus_activity.method }}</td>
                    <td>
                        {{eduplus_activity.attendance.all.count}}
                    </td>
                    <td>{{ eduplus_activity.school }}</td>
                    <td>{{ eduplus_activity.school.division }}</td>
                    <td>{{ eduplus_activity.school.district }}</td>
                    <td>{{ eduplus_activity.school.upazilla }}</td>

                    <td align="center">
                        <a type="button"
                           class=""
                           href="{% url 'eduplus_activity:eduplus_activity_detail' eduplus_activity.pk %}">
                            <span class="fa fa-eye"></span>

                        </a>
                        <a type="button"
                           class="update-icon"
                           href="{% url 'eduplus_activity:edu_plus_activity_update' eduplus_activity.pk %}">
                            <span class="fa fa-edit"></span>

                        </a>
                    </td>
                </tr>
                {% endfor %}

                </tbody>
                <tfoot>

                </tfoot>
            </table>
            {% if eduplus_activity_list %}
            <p class="table-information">{% format_values common_strings.PAGINATION_INFO eduplus_activity_list.start_index  eduplus_activity_list.end_index eduplus_activity_list.paginator.count %}
            </p>
            {% else %}
            <p class="table-information">{{common_strings.PAGINATION_NULL_INFO_TEXT}}</p>
            {% endif %}
            <ul class="pagination">

                {% if eduplus_activity_list.has_previous %}
                <li><a class="paginator" href="?page={{ eduplus_activity_list.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                {% else %}
                <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
                {% endif %}

                {% if eduplus_activity_list.number|add:'-4' > 1 %}
                <li><a class="paginator" href="?page={{ eduplus_activity_list.number|add:'-5' }}">&hellip;</a></li>
                {% endif %}

                {% for i in eduplus_activity_list.paginator.page_range %}
                {% if eduplus_activity_list.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% elif i > eduplus_activity_list.number|add:'-5' and i < eduplus_activity_list.number|add:'5' %}
                <li><a class="paginator" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}

                {% if eduplus_activity_list.paginator.num_pages > eduplus_activity_list.number|add:'4' %}
                <li><a href="?page={{ eduplus_activity_list.number|add:'5' }}">&hellip;</a></li>
                {% endif %}

                {% if eduplus_activity_list.has_next %}
                <li><a class="paginator" href="?page={{ eduplus_activity_list.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                {% else %}
                <li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <!-- /.content -->
</section>
    {% block extra_css %}
        <style>
        #alertdiv{
            font-size:20px;
            margin-top:15px;
        }

        </style>
        {% endblock %}
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
    $(function () {
        pagination(".table-responsive", '/eduplus_activity/pagination/', '', '', '.table-responsive .eduplus-table');
    });

</script>
{% endblock %}