{% extends 'sknf/base.html' %}
{% block body_block %}
{% load static %}
<section class="content-header">
    <h1>
        {{ edu_strings.EDUPLUS_ACTIVITIES_DETAIL_TITLE }}
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">{{ edu_strings.EDUPLUS_ACTIVITIES_DETAIL_INFO_TITLE }}</h3>
                </div>
                <div class="row eduplus-detail">
                    <div class="col-md-6">
                        <div class="box-body">
                            <!-- School Name -->
                            <div class="form-group">
                                <span>{{ edu_strings.TABLE_HEADER_EDUPLUS_ACTIVITIES_DATE }}: </span><label>{{eduplus_activity_detail.date |date:"d M Y"}}</label>
                            </div>
                            <div class="form-group">
                                <span>{{ edu_strings.TABLE_HEADER_EDUPLUS_ACTIVITIES_DESCRIPTION }}: </span><label>{{eduplus_activity_detail.description}}</label>
                            </div>
                            <div class="form-group">
                                <label>{{ edu_strings.TABLE_HEADER_EDUPLUS_ACTIVITIES_TOPICS }}: </label>
<!--                                {% for topic in club_meeting_detail.topics.all %}-->
<!--                                <input type="text" value="{{topic}}" class="form-control my-colorpicker1" readonly>-->
<!--                                {% endfor %}-->
                                <ul>
                                    {% for topic in eduplus_activity_detail.topics.all %}
                                    <li>{{topic}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="form-group">
                                <label> {{ edu_strings.TABLE_HEADER_EDUPLUS_ACTIVITIES_METHODS }}:</label>
                                <ul><li> {{ eduplus_activity_detail.method }} </li></ul>
                            </div>
                            <div class="form-group">
                                <label>{{ edu_strings.TABLE_HEADER_EDUPLUS_ACTIVITIES_ATTENDANCE }}: </label>
<!--                                {% for attendance in club_meeting_detail.attendance.all %}-->
<!--                                <input type="text" value="{{attendance}}" class="form-control my-colorpicker1" readonly>-->
<!--                                {% endfor %}-->
                                <ul>
                                    {% if eduplus_activity_detail.presence_skleader %}
                                    <li>
                                        {{skleader_meeting_eduplus.user.first_name}}&nbsp;(SK Leader)
                                    </li>
                                    {% endif %}
                                    {% for attendance in eduplus_activity_detail.student_attendance.all %}
                                    <li>{{attendance}}</li>
                                    {% endfor %}
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group picture-align">
                            {% if eduplus_activity_detail.image %}
                            <img class="img-box" height="auto" width="100%" src="{{ eduplus_activity_detail.image.url }}" class="pull-right" alt="Pic"><br />
                            {% else %}
                            <img class="img-box" height="auto" width="100%" src="{% static 'sknf/images/default_picture.png' %}" class="pull-right" alt="Pic"><br />
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
            <div class="col-md-12">
                <div class="box box-body">
                    <a type="button" id="back-button" onclick="goBack()"
                       class="btn btn-warning pull-left"
                       href="javascript:void(0)">
                        {{ common_strings.BACK_BUTTON }}
                    </a>
                    {% if user.user_type != 1 %}
                    <a type="button"
                       class="btn btn-primary pull-right"
                       href="{% url 'eduplus_activity:edu_plus_activity_update' eduplus_activity_detail.pk %}">
                        {{ common_strings.EDIT_BUTTON }}
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>

</section>
{% block extra_css %}
<style type="text/css">
    #back-button{
        margin-right: 5px;
    }
    .img-box{
        border-radius: 5px;
        border: 2px solid #ccc;
    }
    .eduplus-detail{
        padding-bottom:10px;
    }
</style>
{% endblock %}
{% endblock %}