
{% for union in union_list %}
<tr>

    <td>{{ union.name }}</td>
    <td>{{ union.upazilla }}</td>
    <td>{{ union.district }}</td>
    <td>{{ union.division }}</td>



    <td align="center"><button type="button" style="margin-right:10px"
                class="js-update-union"
                data-url="{% url 'unions:update_union' union.id %}">
        <span class="fa fa-edit"></span>
    </button>
        <button type="button"
                class="js-delete-union"
                data-url="{% url 'unions:delete_union' union.id %}">
            <span class="fa fa-trash"></span>
        </button>
    </td>
</tr>
{% endfor %}
