{% extends 'sknf/base.html' %}
{% block body_block %}
<section class="content-header">
    <h1>{{union_strings.UNION_LIST_TEXT}}</h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <span id = "alert_placeholder"></span>
            <button type="button"
                    class="btn btn-primary pull-right js-create-union"
                    data-url="{% url 'unions:create_union' %}">
                <span class="fa fa-plus"></span>
                {{union_strings.NEW_UNION_TITLE_TEXT}}
            </button>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive union-container">
            {% include 'unions/partial_union_list.html' %}
        </div>
        {% include 'unions/_modal.html' %}
    </div>
    <!-- /.content -->
</section>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
    $(function () {
        $("#settings").addClass("menu-open");
        $("#settings .treeview-menu").css("display", "block");
        $('#settings, .union-menu').addClass('active');
        var loadForm = function () {
            var btn = $(this);
            $.ajax({
                url: btn.attr("data-url"),
                type: 'get',
                dataType: 'json',
                beforeSend: function () {
                    $("#modal-union").modal("show");
                },
                success: function (data) {
                    $("#modal-union .modal-content").html(data.html_form);
                    var divisionId = $("#id_division").val();
                    var districtId = $("#id_district").val();
                    var upazilaId = $("#id_upazilla").val();
                    if (divisionId || districtId || upazilaId) {
                        $.ajax({
                            url: '/unions/ajax/load-districts/',
                            data: {
                                'division': divisionId,
                                'districtId': districtId
                            },
                            success: function (data) {
                                $("#id_district").html(data);

                            }
                        });
                        $.ajax({
                            url: '/unions/ajax/load-upazillas/',
                            data: {
                                'district': districtId,
                                'upazilaId': upazilaId
                            },
                            success: function (data) {
                                $("#id_upazilla").html(data);

                            }
                        });
                    }
                }
            });
        };

        var saveForm = function () {
            var form = $(this);
            var formClass = form.attr("class")
            $.ajax({
                url: form.attr("action"),
                data: form.serialize(),
                type: form.attr("method"),
                dataType: 'json',
                success: function (data) {
                    if (data.form_is_valid) {
                        $('#unionSubmit').prop('disabled', true);
                        if(formClass=="js-union-create-form"){
                            showAlert("{{ union_strings.UNION_CREATED_MSG }}", "alert-success-customized")
                        }
                        if(formClass=="js-union-update-form"){
                            showAlert("{{ union_strings.UNION_UPDATED_MSG }}", "alert-success-customized")
                        }
                        if(formClass=="js-union-delete-form"){
                            showAlert("{{ union_strings.UNION_DELETED_MSG }}", "alert alert-danger-customized")
                        }
                        $(".union-container").html(data.html_union_list);  // <-- Replace the table body
                        $('.union-table').DataTable({
                            'paging'      : false,
                            'lengthChange': false,
                            'searching'   : false,
                            'ordering'    : false,
                            'info'        : false,
                            'autoWidth'   : false,
                            'destroy'     : true
                        });
                        $("#modal-union").modal("hide");  // <-- Close the modal
                    }
                    else {
                        $("#modal-union .modal-content").html(data.html_form);
                    }
                }
            });
            return false;
        };
        /* Binding */
        // Create union
        $(".js-create-union").click(loadForm);
        $("#modal-union").on("submit", ".js-union-create-form", saveForm);

        // Update union
        $(".union-container").on("click", ".js-update-union", loadForm);
        $("#modal-union").on("submit", ".js-union-update-form", saveForm);

        // Delete union
        $(".union-container").on("click", ".js-delete-union", loadForm);
        $("#modal-union").on("submit", ".js-union-delete-form", saveForm);
        pagination(".table-responsive", '/unions/pagination/', '', '', '.union-table');

    });
</script>
{% endblock %}
