{% extends 'sknf/base.html' %}
{% block body_block %}
<section class="content-header" style="padding-top:60px">
    <h1>Union List</h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 style="display: inline-block;" class="box-title">  </h3>
            <span id = "alert_placeholder"></span>
            <button type="button"
                    class="btn btn-primary pull-right js-create-union"
                    data-url="{% url 'unions:create_union' %}">
                <span class="fa fa-plus"></span>
                New Union
            </button>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive">
            {% include 'unions/partial_union_list.html' %}
            {% include 'unions/_modal.html' %}
        </div>
    </div>
    <!-- /.content -->
</section>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
    $(function () {
        $('#settings, .union-menu').addClass('active');
        var loadForm = function () {
            var btn = $(this);
            $.ajax({
                url: btn.attr("data-url"),
                type: 'get',
                dataType: 'json',
                beforeSend: function () {
                    $("#modal-union").modal("show");
                },
                success: function (data) {
                    $("#modal-union .modal-content").html(data.html_form);
                }
            });
        };

        var saveForm = function () {
            var form = $(this);
            var formClass = form.attr("class")
            $.ajax({
                url: form.attr("action"),
                data: form.serialize(),
                type: form.attr("method"),
                dataType: 'json',
                success: function (data) {
                    if (data.form_is_valid) {
                        $('#unionSubmit').prop('disabled', true);
                        if(formClass=="js-union-create-form"){
                            showAlert("Union Created!", "alert-success-customized")
                        }
                        if(formClass=="js-union-update-form"){
                            showAlert("Union Updated!", "alert-success-customized")
                        }
                        if(formClass=="js-union-delete-form"){
                            showAlert("Union Deleted!", "alert alert-danger-customized")
                        }
                        $(".union-container").html(data.html_union_list);  // <-- Replace the table body
                        $("#modal-union").modal("hide");  // <-- Close the modal
                    }
                    else {
                        $("#modal-union .modal-content").html(data.html_form);
                    }
                }
            });
            return false;
        };
        function showAlert(message,alerttype) {

            $('#alert_placeholder').html('<div id="alertdiv" style="font-size:20px;margin-top:15px;" class="alert ' +  alerttype + '"><span>'+message+'</span></div>');

        }

        /* Binding */

        // Create union
        $(".js-create-union").click(loadForm);
        $("#modal-union").on("submit", ".js-union-create-form", saveForm);

        // Update union
        $(".union-table").on("click", ".js-update-union", loadForm);
        $("#modal-union").on("submit", ".js-union-update-form", saveForm);

        // Delete union
        $(".union-table").on("click", ".js-delete-union", loadForm);
        $("#modal-union").on("submit", ".js-union-delete-form", saveForm);
        pagination(".table-responsive", '/union/pagination/', '', '', '.union-table');

    });



    <!--$("#id_division").change(function () {-->
    <!--      var url = $("#upazillaForm").attr("data-districts-url");  // get the url of the `load_cities` view-->
    <!--      var divisionId = $(this).val();  // get the selected country ID from the HTML input-->

    <!--      $.ajax({                       // initialize an AJAX request-->
        <!--        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)-->
    <!--        data: {-->
    <!--          'division': divisionId       // add the country id to the GET parameters-->
    <!--        },-->
    <!--        success: function (data) {   // `data` is the return of the `load_cities` view function-->
    <!--          $("#id_district").html(data);  // replace the contents of the city input with the data that came from the server-->
    <!--        }-->
    <!--      });-->

    <!--    });-->

    <!--});-->
</script>
{% endblock %}
