{% extends 'sknf/base.html' %}
{% block body_block %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Tables
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Examples</a></li>
      <li class="active">Blank page</li>
    </ol>
  </section>

  <!-- Main content -->
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Data Table With Full Features</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <table id="example1" class="table table-bordered table-striped">

        <table class ="table table-dark">
        <thead>
            <tr>
                <th> Division </th>

                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
            {% for divi in division %}
            <tr>
                <td>{{ divi.Division }}</td>

                <td><a class="btn btn-info" href="/edit/{{ divi.id}}"> Edit</a>
                    <a class="btn btn-danger" href="/delete/{{ divi.id}}"> Delete</a>
                </td>


            </tr>

            {% endfor %}
        </tbody>

    </table>
    <a class="btn btn-primary" href="division_add">Add Divison</a> <br><br>

      </table>
    </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {% endblock %}