{% extends 'sknf/base.html' %}
{% block body_block %}
{% load widget_tweaks %}
{% load static %}
<form method='POST'>
<section class="content-header">
{% if not form.instance.pk %}
   <h1>Add New Club Meetings</h1>
{% else %}
    <h1>Update Club Meetings</h1>
{% endif %}
</section>

<section class="content">
    <div class="row">
        <div class="col-md-8">
            <div class="box box-info">
                <div class="box-header with-border">
                <h3 class="box-title">Basic Information</h3>
                </div>

                <div class="box-body">
                    <!-- Color Picker -->

                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.name.id_for_label }}">Event Date</label>
                        {% render_field form.date class="form-control" placeholder="Date" %}
                        <div class="{% if form.name.errors %} invalid{% endif %}">
                            {% for error in form.name.errors %}
                            <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
</form>
{% endblock %}