{% extends 'sknf/base.html' %}
{% block body_block %}
    {% load widget_tweaks %}
    {% load static %}
    <form method='POST' enctype="multipart/form-data">
        <section class="content-header">
            {% if not form.instance.pk %}
                <h1>Add New Headmaster/Mentor</h1>
            {% else %}
                <h1>Update Headmaster Info</h1>
            {% endif %}
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            {% if not form.instance.pk %}
                                <h3 class="box-title">Basic Information</h3>
                            {% else %}
                                <h3 class="box-title">Basic Information</h3>
                            {% endif %}
                        </div>
                        <div class="box-body">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="{{ user_form.first_name.id_for_label }}">Name</label>
                                {% render_field user_form.first_name class="form-control" placeholder="Name" %}
                                <div class="{% if user_form.name.errors %} invalid{% endif %}">
                                    {% for error in user_form.first_name.errors %}
                                        <p class="help-block">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="{% if user_form.email.non_field_errors %}invalid{% endif %}">
                                {% for error in user_form.email.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>

                            <div class="form-group">
                                <label for="{{ user_form.email.id_for_label }}">{{ user_form.email.label }}</label>
                                {% render_field user_form.email class="form-control" placeholder=user_form.email.label %}
                                <div class="{% if user_form.email.errors %} invalid{% endif %}">
                                    {% for error in user_form.email.errors %}
                                        <p class="help-block">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="{{ profile_form.mobile.id_for_label }}">{{ profile_form.mobile.label }}</label>
                                {% render_field profile_form.mobile class="form-control" placeholder=profile_form.mobile.label %}
                                <div class="{% if profile_form.mobile.errors %} invalid{% endif %}">
                                    {% for error in profile_form.mobile.errors %}
                                        <p class="help-block">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="{{ user_form.password.id_for_label }}">{{ user_form.password.label }}</label>
                                {% render_field user_form.password class="form-control" placeholder=user_form.password.label %}
                                <div class="{% if user_form.password.errors %} invalid{% endif %}">
                                    {% for error in user_form.password.errors %}
                                        <p class="help-block">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="{{ user_form.confirm_password.id_for_label }}">{{ user_form.confirm_password.label }}</label>
                                {% render_field user_form.confirm_password class="form-control" placeholder=user_form.confirm_password.label %}
                                <div class="{% if user_form.confirm_password.errors %} invalid{% endif %}">
                                    {% for error in user_form.confirm_password.errors %}
                                        <p class="help-block">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="{{ user_form.user_type.id_for_label }}">{{ user_form.user_type.label }}</label>
                                {% render_field user_form.user_type class="" placeholder=user_form.user_type.label %}
                                <div class="{% if user_form.user_type.errors %} invalid{% endif %}">
                                    {% for error in user_form.user_type.errors %}
                                        <p class="help-block">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="{{ profile_form.image.id_for_label }}">{{ profile_form.image.label }}</label>
                                {% render_field profile_form.image class="" placeholder=profile_form.image.label %}
                                <div class="{% if user_form.user_type.errors %} invalid{% endif %}">
                                    {% for error in user_form.user_type.errors %}
                                        <p class="help-block">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="{{ profile_form.school.id_for_label }}">{{ profile_form.school.label }}</label>
                                        {% render_field profile_form.school class="form-control select2" placeholder=profile_form.school.label %}
                                        <div class="{% if profile_form.school.errors %} invalid{% endif %}">
                                            {% for error in profile_form.school.errors %}
                                                <p class="help-block">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="{{ headmaster_form_details.from_date.id_for_label }}">From</label>
                                        {% render_field headmaster_form_details.from_date class="form-control" placeholder="Name" %}
                                        <div class="{% if headmaster_form_details.from_date.errors %} invalid{% endif %}">
                                            {% for error in headmaster_form_details.from_date.errors %}
                                                <p class="help-block">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="{{ headmaster_form_details.to_date.id_for_label }}">To</label>
                                        {% render_field headmaster_form_details.to_date class="form-control" placeholder="To" readonly='True' %}
                                        <div class="{% if headmaster_form_details.to_date.errors %} invalid{% endif %}">
                                            {% for error in headmaster_form_details.to_date.errors %}
                                                <p class="help-block">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-body">
                        <input type="submit" value="Save" class="btn btn-primary pull-right"/>
                    </div>
                </div>
            </div>

        </section>
    </form>
{% endblock %}
{% block extra_js%}
    <script>

    </script>
{% endblock %}

<!-- /.form group -->

<form method="post">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    <button type="submit">Save changes</button>
</form>