{% extends 'sknf/base.html' %}
{% block body_block %}

    <!-- Main content -->
<section class="content-header"style="padding-top:60px">
    <h1>
        Headmasters/Guide Teachers
    </h1>
</section>
    <section class="content">

        <div class="box">
        <div class="box-header">
            <div class="shop-search main-box card-block" style="border: 1px solid rgb(204, 204, 204); margin-bottom: 10px; border-radius: 5px; padding-bottom: 0px;">
                <h3>Head Master Search</h3>
                <form method="GET" action="." class="search-form-headmaster">
                    <div class="row">
                        <div class="form-group col-sm-4">
                                <strong>Name</strong>
                            {% if name is not None %}
                                <input class="form-control" type="search" value="{{name}}" name="name_contains" />
                            {% else %}
                             <input class="form-control" type="search" name="name_contains"/>
                            {% endif %}
                        </div>

                        <div class="form-group col-sm-4">
                            <strong>School</strong>
                            {% if school is not None %}
                            <input class="form-control " type="search" value="{{school}}" name="school_contains" />
                            {% else %}
                            <input class="form-control " type="search" name="school_contains" />
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group pull-right">
                        <button type="submit" class="btn btn-primary search-headmaster">Search</button>
                        <button type="submit" class="btn btn-primary export-headmaster">Export CSV</button>
                    </div>
                     <div class="clearfix"></div>

                </form>
            </div>
        </div>

        <!-- Main content -->

            <div class="box-header">
                <span id = "alert_placeholder">
                    {% if messages %}
                    <div id="alertdiv" style="font-size:20px;margin-top:15px;" class="alert alert-success-customized">
                        <span>
                            {% for message in messages %}
                            {{ message }}
                            {% endfor %}
                        </span>
                    </div>
                    {% endif %}
                </span>
                <a type="button"
                   class="btn btn-primary pull-right"
                   href="{% url 'headmasters:headmaster_profile' %}">
                    <span class="fa fa-plus"></span>
                    New Headmaster
                </a>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table   id="example1" class=" data-table table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="col-sm-2">Name</th>
                        <th class="col-sm-2">Email</th>
                        <th class="col-sm-4">School</th>
                        <th class="col-sm-2">Mobile</th>
                        <th class="col-sm-2">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for headmaster in queryset %}
                        <tr>
                            <td>{{headmaster.user.first_name}}</td>
                            <td>{{ headmaster.user.email }}</td>
                            <td>{{ headmaster.school }}</td>
                            <td>{{ headmaster.mobile }}</td>
                            <td align="center">
                                <a type="button" style="margin-right:10px"
                                   href="{% url 'headmasters:headmaster_detail' headmaster.pk %}">
                                    <span class="fa fa-eye"></span>
                                </a>
                                <a type="button"
                                   class=""
                                   href="{% url 'headmasters:headmaster_update' headmaster.pk %}">
                                    <span class="fa fa-edit"></span>

                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>
        </div>

        <!-- /.content -->
    </section>
{% endblock %}