<form method="post" action="{% url 'division:delete_division' division.id %}" class="js-division-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{division_strings.DIVISION_DELETE_CONFIRMATION}}</h4>
  </div>
  <div class="modal-body">
    <p class="lead">{{division_strings.DIVISION_DELETE_INFO}} <strong>{{ division.name }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">{{division_strings.DIVISION_CLOSE_BUTTON}}</button>
    <button type="submit" class="btn btn-danger">{{division_strings.DIVISION_DELETE_BUTTON}}</button>
  </div>
</form>