<table class="data-table division-table table table-bordered table-striped">
    <thead>
    <tr>

        <th class="col-sm-11">{{division_strings.DIVISION_NAME}}</th>
        <th class="col-sm-1 text-center">{{division_strings.DIVISION_LIST_ACTION_TEXT}}</th>
    </tr>
    </thead>
    <tbody>
    {% for division in division_list %}
    <tr>
        <td>{{ division.name }}</td>
        <td align="center"><button type="button"
                                   class="js-update-division"
                                   data-url="{% url 'division:update_division' division.id %}">
            <span class="fa fa-edit"> </span>
        </button>
            <button type="button"
                    class="js-delete-division"
                    data-url="{% url 'division:delete_division' division.id %}">
                <span class="fa fa-trash"> </span>
            </button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>

    </tfoot>
</table>
{% if division_list %}
<p class="table-information">
</p>
{% else %}
<p class="table-information">{{division_strings.PAGINATION_NULL_INFO_TEXT}}</p>
{% endif %}
<ul class="pagination">

    {% if division_list.has_previous %}
    <li><a class="paginator" href="?page={{ division_list.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
    {% else %}
    <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
    {% endif %}

    {% if division_list.number|add:'-4' > 1 %}
    <li><a class="paginator" href="?page={{ division_list.number|add:'-5' }}">&hellip;</a></li>
    {% endif %}

    {% for i in division_list.paginator.page_range %}
    {% if division_list.number == i %}
    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% elif i > division_list.number|add:'-5' and i < division_list.number|add:'5' %}
    <li><a class="paginator" href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}

    {% if division_list.paginator.num_pages > division_list.number|add:'4' %}
    <li><a href="?page={{ division_list.number|add:'5' }}">&hellip;</a></li>
    {% endif %}

    {% if division_list.has_next %}
    <li><a class="paginator" href="?page={{ division_list.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
    {% else %}
    <li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
    {% endif %}
</ul>
{% block extra_css %}
<style type="text/css">
    .js-delete-division{
        border: none;
        background: no-repeat;
        color: #3c8dbc;
        padding-left: 3px;
        color: red;
    }
    .js-update-division{
        border: none;
        background: no-repeat;
        color: #3c8dbc;
        padding-left: 3px;
        margin-right:10px
    }
</style>
{% endblock %}
