{% extends 'sknf/base.html' %}
{% block body_block %}
    <section class="content-header" >
        <h1>{{ district_strings.DISTRICT_LIST_TITLE }}</h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box">
            <div class="box-header">
                <span id = "alert_placeholder"></span>
                <button type="button"
                        class="btn btn-primary pull-right js-create-district"
                        data-url="{% url 'districts:create_district' %}">
                    <span class="fa fa-plus"></span>
                    {{ district_strings.CREATE_DSTRICT_BUTTON_TEXT }}
                </button>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive district-container">
                {% include 'districts/partial_districts_list.html' %}

            </div>
            {% include 'districts/_modal.html' %}
        </div>
        <!-- /.content -->
    </section>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
        $(function () {
            $('#settings, .district-menu').addClass('active');

            $("#settings").addClass("menu-open");
            $("#settings .treeview-menu").css("display", "block");

            var loadForm = function () {
                var btn = $(this);
                $.ajax({
                    url: btn.attr("data-url"),
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {
                        $("#modal-district").modal("show");
                    },
                    success: function (data) {
                        $("#modal-district .modal-content").html(data.html_form);
                    }
                });
            };

            var saveForm = function () {
                var form = $(this);
                var formClass = form.attr("class")
                $.ajax({
                    url: form.attr("action"),
                    data: form.serialize(),
                    type: form.attr("method"),
                    dataType: 'json',
                    success: function (data) {
                        if (data.form_is_valid) {
                            $('#districtSubmit').prop('disabled', true);
                            if(formClass=="js-district-create-form"){
                                showAlert("District Created!", "alert-success-customized")
                            }
                            if(formClass=="js-district-update-form"){
                                showAlert("District Updated!", "alert-success-customized")
                            }
                            if(formClass=="js-district-delete-form"){
                                showAlert("District Deleted!", "alert-danger-customized")
                            }

                            $(".district-container").html(data.html_list);
                            $('.district-table').DataTable({
                                'paging'      : false,
                                'lengthChange': false,
                                'searching'   : false,
                                'ordering'    : false,
                                'info'        : false,
                                'autoWidth'   : false,
                                'destroy'     : true
                            });// <-- Replace the table body
                            $("#modal-district").modal("hide");  // <-- Close the modal
                        }
                        else {
                            $("#modal-district .modal-content").html(data.html_form);
                        }
                    }
                });
                return false;
            };


            /* Binding */

            // Create district
            $(".js-create-district").click(loadForm);
            $("#modal-district").on("submit", ".js-district-create-form", saveForm);

            // Update district
            $(".district-container").on("click", ".js-update-district", loadForm);
            $("#modal-district").on("submit", ".js-district-update-form", saveForm);

            // Delete book
            $(".district-container").on("click", ".js-delete-district", loadForm);
            $("#modal-district").on("submit", ".js-district-delete-form", saveForm);
            pagination(".district-container", '/district/pagination/', '', '', '.district-table');




        });

    </script>
{% endblock %}