
{% for district in district_list %}
<tr>

    <td>{{ district.name }}</td>
    <td>{{ district.division }}</td>
    <td><button type="button"
                class="js-update-district"
                data-url="{% url 'districts:update_district' district.id %}">
        <span class="fa fa-edit"></span>
    </button>
        <button type="button"
                class="js-delete-district"
                data-url="{% url 'districts:delete_district' district.id %}">
            <span class="fa fa-trash"></span>
        </button>
    </td>
</tr>
{% endfor %}
