{% load static %}
<table id="example1" class="school-search-table school-table table table-bordered table-striped">
    <thead>
    <tr>
        <th class ="col-sm-2">{{ school_strings.SCHOOL_LIST_EIIN_TEXT }}</th>
        <th class = "col-sm-3">{{ school_strings.SCHOOL_LIST_NAME_TEXT }}</th>
        <th class ="col-sm-2">{{ school_strings.SCHOOL_LIST_DIVISION_TEXT }}</th>
        <th class ="col-sm-2">{{ school_strings.SCHOOL_LIST_DISTRICT_TEXT }}</th>
        <th class ="col-sm-2">{{ school_strings.SCHOOL_LIST_UPAZILA_TEXT }}</th>
        <th class ="text-center col-sm-1">{{ common_strings.LIST_ACTION_TEXT }}</th>
    </tr>
    </thead>
    <tbody>
    {% for school in queryset %}

    <tr>
        <td>{{ school.school_id }}</td>
        <td><a href="{% url 'school:school_profile' school.id %}">{{ school.name }}</a></td>
        <td>{{ school.division }}</td>
        <td>{{ school.district }}</td>
        <td>{{ school.upazilla }}</td>
        <td id="ab" align="center">
            <a type="button"
               class="update-icon"
               href="{% url 'school:detail_school' school.pk %}">
                <span class="fa fa-eye"></span>
            </a>

            <a type="button"
               class="update-icon"
               href="{% url 'school:update_school' school.pk %}">
                <span class="fa fa-edit"></span>

            </a>

            <button type="button"
                    class="delete-icon js-delete-school"
                    data-url="{% url 'school:delete_school' school.pk %}">
                <span class="fa fa-trash"></span>
            </button>
        </td>
    </tr>

    {% endfor %}
    </tbody>
</table>
<p class="table-information">{% format_values common_strings.PAGINATION_INFO queryset.start_index queryset.end_index queryset.paginator.count %}</p>
<ul class="pagination">

    {% if queryset.has_previous %}
    <li><a class="paginator" href="?page={{ queryset.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
    {% else %}
    <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
    {% endif %}

    {% if queryset.number|add:'-4' > 1 %}
    <li><a class="paginator" href="?page={{ queryset.number|add:'-5' }}">&hellip;</a></li>
    {% endif %}

    {% for i in queryset.paginator.page_range %}
    {% if queryset.number == i %}
    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% elif i > queryset.number|add:'-5' and i < queryset.number|add:'5' %}
    <li><a class="paginator" href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}

    {% if queryset.paginator.num_pages > queryset.number|add:'4' %}
    <li><a href="?page={{ queryset.number|add:'5' }}">&hellip;</a></li>
    {% endif %}

    {% if queryset.has_next %}
    <li><a class="paginator" href="?page={{ queryset.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
    {% else %}
    <li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
    {% endif %}

</ul>

