{% extends 'sknf/base.html' %}
{% block body_block %}
    {% load static %}
    {% load widget_tweaks %}

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 style ="display:inline-block;">{{ school_profile.name }}</h1>
    </section>

    <!-- Main content -->
    <section class="content" style="position:relative">
        {% if school_profile.image %}
            <img src="{{ school_profile.image.url }}" width="100%" class="preview-show"><br />
        {% else %}
            <img src="{% static 'sknf/images/sknf-admin-bg.jpg' %}" width="100%" class="preview-show">
        {% endif %}
        {% if user.is_authenticated and user.user_type == 1 or upload_head_user or upload_guide_user or upload_both_user or upload_skleader_user %}
        <div class="img-ctrl" style="position:absolute;z-index:99;bottom:25px;right:25px;">
            <form method='POST' style =" display:inline-block;float:right;" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <div style =" display:inline-block;">
                    {% render_field form.image style="display:none" class="img-preview" placeholder=form.image.label %}
                    <input type="button" style="display: inline-block;" value="Change" class="btn btn-primary" id="btn_change" onclick="changePic();">
                    <input type="submit" style="display: none;" name="one_picture" value="Upload" id="btn_upload" class="btn btn-primary"/>
                </div>
            </form>
        </div>
        {% endif %}

    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
            <div class="box box-info">
                <div id="image_preview"></div>
                <form method='POST' enctype="multipart/form-data">
                {% csrf_token %}
                <div class="box-body">
                    <!-- Color Picker -->
                    <span id = "alert_placeholder">
                        {% if post_form.errors %}
                        <div id="alertdiv" style="font-size:15px;margin-top:15px;padding-top: 2px;
                            padding-bottom: 3px;" class="alert alert-danger-error-message">
                            <span>
                                {% for field in post_form %}
                                    <li class="help-block" style="color:red;margin-bottom: 5px;">{{ field.errors|striptags }}</li>
                                {% endfor %}
                            </span>
                        </div>
                        {% endif %}
                    </span>
                    <div class="form-group">
                        {% render_field post_form.text class="form-control" placeholder='What is on your mind?' %}
                    </div>
                    <div class="form-group" style="left:25px;display: inline-block;">
                        {% render_field post_form.post_image class="" style="display:none" placeholder=profile_form.image.label %}
                        <input type="button" style="display: inline-block;position:relative;width:40px;" value="" class="btn btn-primary" id="btn-choose" onclick="choosePic();"><span class="fa fa-image" onclick="choosePic();" style="position:absolute;z-index:99;bottom:35px;left:22px;cursor: pointer;color:#fff;"></span>
                    </div>
                    <!-- /.box-footer -->
                    <input type="submit" value="Post" style="display: inline-block;position:relative;" name="school_post" id="save-btn" class="btn btn-primary pull-right"/>
                </div>
                </form>
            </div>
        </div>
        </div>
    </section>
    {% if school_post_list %}
    <section class="content">

        {% for school_post in school_post_list %}
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Posted on {{school_post.created_date}}</h3>
                    </div>
                    <div class="box-body">
                        {% if school_post.post_image %}
                        <div class="form-group">
                            <img src="{{ school_post.post_image.url }}" alt="">
                        </div>
                        {% endif %}
                        <div class="form-group">
                            {{school_post.text}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </section>
    {% endif %}
    <section class="content" >
        <div class="box box-widget">
            <div class="box-header with-border">
                <div class="user-block">
                    <h4>Members</h4>
                </div>

            </div>
            <div class="box-body">
                <div class="row">

                    {% for skmember in skmember_list %}
                        {% if skmember.image %}
                            <div class="col-xs-1">
                                <img class="img-responsive" style="height:60px; width:60px;" src="{{ skmember.image.url }}" alt="Photo">
                            </div>
                        {% endif %}

                    {% endfor %}


                </div>

            </div>
        </div>
    </section>



{% endblock %}

{% block extra_js %}
<script>
function changePic(){
    $('#id_image').click();
    $("#id_image").on("change", function(){
        if($("#id_image").val()){
            $('#btn_change').hide();
            $('#btn_upload').show();
        }
    });
}
function choosePic(){
    $('#id_post_image').click();
    $("#id_post_image").on("change", function(){
        if($("#id_post_image").val()){
            $('#image_preview').html("");
             var total_file=document.getElementById("id_post_image").files.length;
             for(var i=0;i<total_file;i++)
             {
              $('#image_preview').append("<img src='"+URL.createObjectURL(event.target.files[i])+"'>");
             }
        }
    });
}


</script>
{% endblock %}