{% extends 'sknf/base.html' %}
{% block body_block %}
{% load static %}

<section class="content"><br /><br /><br />
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">{% format_date school_strings.HOME_SCHOOL_POST_TITLE post_detail.created_date %}</h3>
                </div>
                <div class="box-body">
                    {% if post_detail.post_image %}
                    <div class="form-group">
                        {% if post_detail.post_image %}
                        <img width="100%" src="{{ post_detail.post_image.url }}" alt="">
                        {% endif %}
                    </div>
                    {% endif %}
                    <div class="form-group">
                        {{post_detail.text}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}