{% extends 'sknf/base.html' %}
{% block body_block %}
{% load static %}
{% load widget_tweaks %}

<!-- =============================================== -->

<!-- Content Wrapper. Contains page content -->

<!-- Content Header (Page header) -->
<section class="content-header" style=" padding-top: 60px;">

    <h1 style ="display:inline-block;">{{ school_profile.name }}</h1>
</section>

<!-- Main content -->
<section class="content" style="position:relative">
    {% if school_profile.image %}
    <img src="{{ school_profile.image.url }}" width="100%"class="jcrop-cover-holder"><br />
    {% else %}
    <img src="{% static 'sknf/images/sknf-admin-bg.jpg' %}"width="100%" class="jcrop-cover-holder">
    {% endif %}
    {% if user.is_authenticated and user.user_type == 1 or upload_head_user or upload_guide_user or upload_both_user or upload_skleader_user %}
    <div class="img-ctrl" style="position:absolute;z-index:99;bottom:25px;right:25px;">
        <form method='POST' style =" display:inline-block;float:right;" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <div style =" display:inline-block;">
                <input type="file" accept="image/*" placeholder="SkMember image" class="img-preview" style="display:none" id="id_image">
                <input type="button" style="display: inline-block;" value="Change" class="btn btn-primary" id="btn_change" onclick="changePic();">
                <input type="submit" style="display: none;" name="one_picture" value="Upload" id="btn_upload" class="btn btn-primary"/>
            </div>
            {% render_field form.cover_image_base64 %}
        </form>
    </div>
    {% endif %}
</section>
<div class="row visible-xs">

    <div class="box-body box-profile">
        {% if headmaster_profile.image %}
        <img style="width: 80px; height: 80px;" class="profile-user-img img-responsive img-circle" src="{{headmaster_profile.image.url }}" alt="User profile picture">
        {% else %}
        <img style="width: 80px; height: 80px;" class="profile-user-img img-responsive img-circle" src="{% static 'sknf/images/blank-profile-picture-973460_960_720.png' %}" alt="User profile picture">
        {% endif %}
        <h3 class="profile-username text-center">
            <font color="black">
                {{ headmaster_profile.user.first_name }}
            </font>
        </h3>
        <p class="text-muted text-center"><font color="black">Head Master</font></p>
    </div>
    <div class="box-body box-profile">
        {% for skleader in skleader_list%}
        {% if skleader.image %}
        <div class="col-xs-6"align="center">
            <img style="width: 80px; height: 80px;" class="profile-user-img img-responsive img-circle" src="{{skleader.image.url }}" alt="User profile picture">
            <h3 class="profile-username text-center"><font color="black">{{ skleader.user.first_name }}</font></h3>
            <p class="text-muted text-center"><font color="black">Sk Leader</font></p>
        </div>
        {% else %}
        <div class="col-xs-6"align="center">
            <img style="width: 80px; height: 80px;" class="profile-user-img img-responsive img-circle" src="{% static 'sknf/images/blank-profile-picture-973460_960_720.png' %}" alt="User profile picture">
            <h3 class="profile-username text-center"><font color="black">{{ skleader.user.first_name }}</font></h3>
            <p class="text-muted text-center"><font color="black">Sk Leader</font></p>
        </div>
        {% endif %}
        {% endfor %}
    </div>


</div>
<div class="row visible-xs">
    <div class="col-md-3">
        <section class="content" >
            <div class="box box-widget">
                <div class="box-header with-border">
                    <div class="user-block">
                        <h4>Members</h4>
                    </div>

                </div>
                <div class="box-body">
                    <div class="row">

                        {% for skmember in skmember_list %}
                        {% if skmember.image %}
                        <div class="col-xs-6"align="center">
                            <img class="image-responsive" align="center" style="height:80px; width:80px;" src="{{ skmember.image.url }}" alt="Photo">
                            <p><strong>{{skmember.user}}</strong></p>
                        </div>
                        {% else %}
                        <div class="col-xs-6" align="center">
                            <img class="image-responsive"  style="height:80px; width:80px;" src="{%static 'sknf/images/blank-profile-picture-973460_960_720.png' %}" alt="Photo">
                            <p><strong>{{skmember.user}}</strong></p>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>

<div class="row">
    <section class="content">
        <div class="col-sm-9">
            <section class="content">
                <div class="row" style="margin-top: -15px;">
                    {% if user.is_authenticated and user.user_type == 1 or upload_head_user or upload_guide_user or upload_both_user or upload_skleader_user %}
                    <div class="box box-info">
                        <form method='POST' enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="box-body">
                            <div id="image_preview">
                                <img style="max-width: 100%" class="jcrop-holder" src="" alt="">
                            </div><br />
                                <!-- Color Picker -->
                                <span id = "alert_placeholder">
                        {% if post_form.errors %}
                        <div id="alertdiv" style="font-size:15px;margin-top:15px;padding-top: 2px;
                            padding-bottom: 3px;" class="alert alert-danger-error-message">
                            <span>
                                {% for field in post_form %}
                                    <li class="help-block" style="color:red;margin-bottom: 5px;">{{ field.errors|striptags }}</li>
                                {% endfor %}
                            </span>
                        </div>
                        {% endif %}
                    </span>
                                <div class="form-group">
                                    {% render_field post_form.text class="form-control" placeholder='What is on your mind?' %}
                                </div>
                                <div class="form-group" style="left:25px;display: inline-block;">
                                    <input type="file"  accept="image/*" placeholder="" style="display:none" class="" id="id_post_image">
                                    <input type="button" style="display: inline-block;position:relative;width:40px;" value="" class="btn btn-primary" id="btn-choose" onclick="choosePic();"><span class="fa fa-image" onclick="choosePic();" style="position:absolute;z-index:99;bottom:35px;left:22px;cursor: pointer;color:#fff;"></span>
                                </div>
                                {% render_field post_form.image_base64 %}
                                <!-- /.box-footer -->
                                <input type="submit" value="Post" style="display: inline-block;position:relative;" name="school_post" id="save-btn" class="btn btn-primary pull-right"/>
                            </div>
                        </form>
                    </div>
                </div>
                {% include 'sknf/_modal_show_image_error.html' %}
                {% include 'school/_crop_cover_modal.html' %}
                {% include 'school/_crop_post_modal.html' %}
                {% endif %}
                <div class="row">
                    {% if school_post_list %}


                    {% for school_post in school_post_list %}
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Posted on {{school_post.created_date}}</h3>
                            <a type="button" class="btn btn-primary pull-right" href="{% url 'school:school_post_detail_view' school_post.id %}">
                                <span class="fa fa-share"></span>
                            </a>
                        </div>
                        <div class="box-body">
                            {% if school_post.post_image %}
                            <div class="form-group">
                                <img src="{{ school_post.post_image.url }}" alt="">
                            </div>
                            {% endif %}
                            <div class="form-group">
                                {{school_post.text}}
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    {% endif %}
                </div>
            </section>
        </div>
        <div class="col-sm-3 hidden-xs">
            <div class="box box-widget">
                <div class="box-header with-border">
                    <div class="user-block">
                        <h4>Members</h4>
                    </div>

                </div>
                <div class="box-body">
                    <div class="row">

                        {% for skmember in skmember_list %}
                        {% if skmember.image %}
                        <div class="col-xs-6"align="center">
                            <img class="image-responsive" align="center" style="height:80px; width:80px;" src="{{ skmember.image.url }}" alt="Photo">
                            <p><strong>{{skmember.user}}</strong></p>
                        </div>
                        {% else %}
                        <div class="col-xs-6" align="center">
                            <img class="image-responsive"  style="height:80px; width:80px;" src="{%static 'sknf/images/blank-profile-picture-973460_960_720.png' %}" alt="Photo">
                            <p><strong>{{skmember.user}}</strong></p>
                        </div>
                        {% endif %}

                        {% endfor %}


                    </div>

                </div>
            </div>

        </div>
    </section>
</div>







{% endblock %}

{% block extra_js %}
<script>
function changePic(){
    $('#id_image').click();
    $("#id_image").on("change", function(){
        var imgSize = (this.files[0].size)
        if($("#id_image").val() && imgSize<2000000){
            $('#btn_change').hide();
            $('#btn_upload').show();
        }
    });
}
function choosePic(){
    $('#id_post_image').click();
    $("#id_post_image").on("change", function(){
        if($("#id_post_image").val()){
<!--            $('#image_preview').html("");-->
<!--             var total_file=document.getElementById("id_post_image").files.length;-->
<!--             for(var i=0;i<total_file;i++)-->
<!--             {-->
<!--              $('#image_preview').append("<img src='"+URL.createObjectURL(event.target.files[i])+"'>");-->
<!--             }-->
        }
    });
}


</script>
<script>
$(function () {

  /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
  $("#id_post_image").on('change',function () {
    if (this.files && this.files[0]) {
    var reader = new FileReader();

    reader.onload = function (e) {
      $("#school-post-image").attr("src", e.target.result);
      $("#modalSchoolPostCrop").modal("show");
    }
    reader.readAsDataURL(this.files[0]);
  }
});

/* SCRIPTS TO HANDLE THE CROPPER BOX */
var $image = $("#school-post-image");
var cropBoxData;
var canvasData;
$("#modalSchoolPostCrop").on("shown.bs.modal", function () {
  $image.cropper({
    viewMode: 1,
    aspectRatio: 16/9,
    data:{
                    width: 540,
                    height:  607,
                },
    ready: function () {
      $image.cropper("setCanvasData", canvasData);
      $image.cropper("setCropBoxData", cropBoxData);
    }
  });
}).on("hidden.bs.modal", function () {
  cropBoxData = $image.cropper("getCropBoxData");
  canvasData = $image.cropper("getCanvasData");
  $image.cropper("destroy");
});

// Enable zoom in button
$(".js-zoom-in").click(function () {
  $image.cropper("zoom", 0.1);
});

// Enable zoom out button
$(".js-zoom-out").click(function () {
  $image.cropper("zoom", -0.1);
});

  /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
  $(".js-crop-and-upload-post").click(function () {
    var imageData = $('#school-post-image').cropper('getCroppedCanvas').toDataURL() ;
    $('.jcrop-holder').attr('src', imageData);
    $("#id_image_base64").val(imageData);
    $("#modalSchoolPostCrop").modal('hide');
    $("#id_post_image").val("");
  });
});
  </script>
<script>
$(function () {
  /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
  $("#id_image").on('change',function () {
      var imgSize = (this.files[0].size);
      $('.remove-file').on('click', function () {
          $('#img-error').modal('hide');
          $("#id_PF-image").val("");
      });
      if(imgSize<2000000){
          if (this.files && this.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $("#image").attr("src", e.target.result);
          $("#modalCoverCrop").modal("show");
        }
        reader.readAsDataURL(this.files[0]);
      }
      }
      else{
          $('#img-error').modal('show');
      }
});

/* SCRIPTS TO HANDLE THE CROPPER BOX */
var $image = $("#image");
var cropBoxData;
var canvasData;
$("#modalCoverCrop").on("shown.bs.modal", function () {
  $image.cropper({
    viewMode: 1,
    aspectRatio: 16/6,
    minCropBoxWidth: 200,
    minCropBoxHeight: 200,

    ready: function () {
      $image.cropper("setCanvasData", canvasData);
      $image.cropper("setCropBoxData", cropBoxData);
    }
  });
}).on("hidden.bs.modal", function () {
  cropBoxData = $image.cropper("getCropBoxData");
  canvasData = $image.cropper("getCanvasData");
  $image.cropper("destroy");
});

// Enable zoom in button
$(".js-zoom-in").click(function () {
  $image.cropper("zoom", 0.1);
});

// Enable zoom out button
$(".js-zoom-out").click(function () {
  $image.cropper("zoom", -0.1);
});

  /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
  $(".js-crop-and-upload-cover").click(function () {
    var imageData = $('#image').cropper('getCroppedCanvas').toDataURL() ;
    $('.jcrop-cover-holder').attr('src', imageData);
    $("#id_cover_image_base64").val(imageData);
    $("#modalCoverCrop").modal('hide');
    $("#id_image").val("");
  });
});
  </script>
{% endblock %}