{% extends 'sknf/base.html' %}
{% block body_block %}
    <section class="content-header">
        <h1>
            {{ school_strings.SCHOOL_INFO_PAGE_TITLE }}
        </h1>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">{{ school_strings.SCHOOL_INFO_BASIC_TITLE }}</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label>{{ school_strings.SCHOOL_LIST_NAME_TEXT }}:</label>
                            <input disabled type="text" value="{{school_detail.name}}" class="form-control my-colorpicker1">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ school_strings.SCHOOL_LIST_EIIN_TEXT }}:</label>
                                    <input type="text" value="{{school_detail.school_id}}" class="form-control my-colorpicker1" readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ school_strings.SCHOOL_LIST_CLUB_ESTABLISHMENT_TEXT }}:</label>
                                    <input type="text" value="{{school_detail.club_establishment_date|date:common_strings.DATE_FORMAT}}" class="form-control my-colorpicker1" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>{{ school_strings.SCHOOL_LIST_ADDRESS_TEXT }}:</label>
                            <input type="text" value="{{school_detail.address}}" class="form-control my-colorpicker1 description-box" rows= "4.5" , readonly>
                        </div>
                    </div>
                </div>
            </div>
            <!-- right column -->
            <div class="col-md-6">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">{{ school_strings.SCHOOL_INFO_LOCATION_TITLE }}</h3>
                    </div>
                    <div class="box-body">
                        <!-- School Division -->
                        <div class="form-group">
                            <label>{{ school_strings.SCHOOL_LIST_DIVISION_TEXT }}:</label>
                            <input type="text" value="{{school_detail.division}}" class="form-control my-colorpicker1" readonly>
                        </div>
                        <!-- /.form group -->
                        <div class="form-group">
                            <label>{{ school_strings.SCHOOL_LIST_DISTRICT_TEXT }}:</label>
                            <input type="text" value="{{school_detail.district}}" class="form-control my-colorpicker1" readonly>
                        </div>
                        <div class="form-group">
                            <label>{{ school_strings.SCHOOL_LIST_UPAZILA_TEXT }}:</label>
                            <input type="text" value="{{school_detail.upazilla}}" class="form-control my-colorpicker1" readonly>
                        </div>
                        <div class="form-group">
                            <label>{{ school_strings.SCHOOL_LIST_UNION_TEXT }}:</label>
                            <input type="text" value="{{school_detail.union}}" class="form-control my-colorpicker1" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-body">
                    <a type="button" onclick="goBack()"
                       class="btn btn-warning pull-left"
                       href="javascript:void(0)">
                        {{ common_strings.BACK_BUTTON }}
                    </a>
                    <a type="button"
                       class="btn btn-primary pull-right"
                       href="{% url 'school:update_school' school_detail.pk %}">
                        {{ common_strings.EDIT_BUTTON }}
                    </a>
                </div>
            </div>
        </div>
    </section>
    <style>
    .description-box{
        height:7.7em;
    }
    </style>
{% endblock %}
