{% extends 'sknf/base.html' %}
{% block body_block %}
<section class="content-header" style="padding-top:60px">
    <h1>Schools</h1>
</section>
<!-- Main content -->
<section class="content">
    <!-- Main content -->
    <div class="box">
        <div class="box-header">
            <div class="shop-search main-box card-block" style="border: 1px solid rgb(204, 204, 204); margin-bottom: 10px; border-radius: 5px; padding-bottom: 0px;">
                <h3>School Search</h3>
                <form method="GET" action=".">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group ">
                                    <strong>Name</strong>
                                    {% if name is not None %}
                                    <input class="form-control" type="search" name="name_contains" value= "{{name}}" />
                                    {% else %}
                                    <input class="form-control" type="search" name="name_contains" />
                                    {% endif %}

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                    <strong>School ID</strong>
                                    {% if school_id is not None %}
                                    <input class="form-control " type="search" name="school_id_contains" value="{{school_id}}" />
                                    {% else %}
                                    <input class="form-control " type="search" name="school_id_contains"  />
                                    {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                    <strong>Division</strong>
                                    {% if division is not None %}
                                    <input class="form-control "type="search" name="division_contains" value="{{division}}"/>
                                    {% else %}
                                    <input class="form-control " type="search" name="division_contains" />
                                    {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                    <strong>District</strong>
                                    {% if district is not None %}
                                    <input class="form-control" type="search" name="district_contains" value="{{district}}" />
                                    {% else %}
                                    <input class="form-control" type="search" name="district_contains"/>
                                    {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="form-group">
                                    <strong>Upazilla</strong>
                                    {% if upazilla is not None %}
                                    <input class="form-control"type="search" name="upazilla_contains" value="{{upazilla}}"/>
                                    {% else %}
                                    <input class="form-control"type="search" name="upazilla_contains" />
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                    <strong>Union</strong>
                                    {% if union is not None %}
                                    <input class="form-control" type="search" name="union_contains" value="{{union}}"/>
                                    {% else %}
                                    <input class="form-control" type="search" name="union_contains" />
                                    {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Export CSV</button>
                        <button type="submit" class="btn btn-primary">Search</button>

                    </div>

                </form>
            </div>
        </div>

        <div class="box-header">
            <h3 style="display: inline-block;" class="box-title"> </h3>
            <span id = "alert_placeholder">
                    {% if messages %}
                        <div id="alertdiv" style="font-size:20px;margin-top:15px;" class="alert alert-success-customized">
                        <span>
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </span>
                    </div>
                    {% endif %}
                </span>

            <a type="button"
               class="btn btn-primary pull-right"
               href="{% url 'school:create_school' %}">
                <span class="fa fa-plus"></span>
                New School
            </a>





        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive">
            <table id="example1" class=" data-table table table-bordered table-striped">
                <thead>
                <tr>
                    <th class = "col-sm-4">Name</th>
                    <th class ="col-sm-2">EIIN</th>
                    <th class ="col-sm-2">Division</th>
                    <th class ="col-sm-2">District</th>
                    <th class ="col-sm-2">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% include 'school/partial_school_list.html' %}
            </table>
            {% include 'school/_modal.html' %}
        </div>
    </div>
    <!-- /.content -->
</section>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
        $(function () {
            var loadForm = function () {
                var btn = $(this);
                $.ajax({
                    url: btn.attr("data-url"),
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {
                        $("#modal-school").modal("show");
                    },
                    success: function (data) {
                        $("#modal-school .modal-content").html(data.html_form);
                    }
                });
            };

            var saveForm = function () {
                var form = $(this);
                var formClass = form.attr("class");
                $.ajax({
                    url: form.attr("action"),
                    data: form.serialize(),
                    type: form.attr("method"),
                    dataType: 'json',
                    success: function (data) {
                        if (data.form_is_valid) {
                            if(formClass=="js-school-delete-form"){
                                $("body").html(data.html_school_list);
                                showAlert("School Deleted!", "alert alert-danger-customized")
                            }
                            $("#modal-school").modal("hide");
                        }
                        else {
                            $("#modal-school .modal-content").html(data.html_form);
                        }
                    }
                });
                return false;
            };

            /* Binding */

            function showAlert(message,alerttype) {

                $('#alert_placeholder').html('<div id="alertdiv" style="font-size:20px;margin-top:15px;" class="alert ' +  alerttype + '"><span>'+message+'</span></div>');

            }

            // Delete school
            $(".school-table").on("click", ".js-delete-school", loadForm);
            $("#modal-school").on("submit", ".js-school-delete-form", saveForm);

        });

    </script>
{% endblock %}
