{% extends 'sknf/base.html' %}
{% block body_block %}

    <!-- Main content -->
<section class="content-header">
    <h1>
        Club Meetings
    </h1>
</section>
    <section class="content">

        <!-- Main content -->
        <div class="box">
            <div class="box-header">

                <a type="button"
                   class="btn btn-primary pull-right"
                   href="{% url 'club_meetings:club_meeting_add' %}">
                    <span class="fa fa-plus"></span>
                    New Meeting
                </a>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table   id="example1" class=" division-table table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="col-sm-6">Date</th>
                        <th class="col-sm-5">Class Room</th>
                        <th class="col-sm-1">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for club_meeting in clubmeetings_list %}
                        <tr>
                            <td>{{club_meeting.date}}</td>
                            <td>{{ club_meeting.class_room }}</td>
                            <td>
                                <a type="button"
                                   class=""
                                   href="{% url 'club_meetings:club_meeting_update' club_meeting.pk %}">
                                    <span class="fa fa-edit"></span>

                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>
        </div>
        <!-- /.content -->
    </section>
{% endblock %}