<button type="submit" class="btn btn-primary export-club-meeting-report pull-right">{{ common_strings.EXPORT_CSV_BUTTON_TEXT }}</button>
<table   id="example1" class="club-meeting-search-table data-table table table-bordered table-striped">
    <thead>
    <tr>
        <th class="col-sm-1">{{club_meeting_strings.CLUB_MEETING_DATE_TEXT}}</th>
        <th class="col-sm-3">{{club_meeting_strings.CLUB_MEETING_TOPICS_TEXT}}</th>
        <th class="col-sm-3">{{club_meeting_strings.CLUB_MEETING_SCHOOL_TEXT}}</th>
        <th class="col-sm-1">{{club_meeting_strings.CLUB_MEETING_ATTENDANCE_TEXT}}</th>
        <th class="col-sm-1">{{club_meeting_strings.CLUB_MEETING_DIVISION_TEXT}}</th>
        <th class="col-sm-1">{{club_meeting_strings.CLUB_MEETING_DISTRICT_TEXT}}</th>
        <th class="col-sm-1">{{club_meeting_strings.CLUB_MEETING_UPAZILA_TEXT}}</th>
        <th class="text-center col-sm-1">{{ common_strings.LIST_ACTION_SINGULAR_TEXT }}</th>
    </tr>
    </thead>
    <tbody>
    {% for club_meeting in clubmeetings_list %}
    <tr>
        <td>{{club_meeting.date|date:common_strings.DATE_FORMAT}}</td>
        <td>
            {% for topic in club_meeting.topics.all %}
            {% if forloop.last %}
            {{topic.name}}
            {% else %}
            {{topic.name}},
            {% endif %}
            {% endfor %}
        </td>
        <td>{{ club_meeting.school }}</td>
        <td>{{ club_meeting.attendance.all.count }}</td>
        <td>{{ club_meeting.school.division }}</td>
        <td>{{ club_meeting.school.district }}</td>
        <td>{{ club_meeting.school.upazilla }}</td>
        <td align="center">
            <a type="button"
               class=""
               href="{% url 'club_meetings:club_meeting_detail' club_meeting.pk %}">
                <span class="fa fa-eye"></span>

            </a>
        </td>
    </tr>
    {% endfor %}

    </tbody>
    <tfoot>

    </tfoot>
</table>
{% if clubmeetings_list %}
<p class="table-information">{% format_values common_strings.PAGINATION_INFO clubmeetings_list.start_index  clubmeetings_list.end_index clubmeetings_list.paginator.count %}
</p>
{% else %}
<p class="table-information">{{common_strings.PAGINATION_NULL_INFO_TEXT}}</p>
{% endif %}
<ul class="pagination">

    {% if clubmeetings_list.has_previous %}
    <li><a class="paginator" href="?page={{ clubmeetings_list.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
    {% else %}
    <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
    {% endif %}

    {% if clubmeetings_list.number|add:'-4' > 1 %}
    <li><a class="paginator" href="?page={{ clubmeetings_list.number|add:'-5' }}">&hellip;</a></li>
    {% endif %}

    {% for i in clubmeetings_list.paginator.page_range %}
    {% if clubmeetings_list.number == i %}
    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% elif i > clubmeetings_list.number|add:'-5' and i < clubmeetings_list.number|add:'5' %}
    <li><a class="paginator" href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}

    {% if clubmeetings_list.paginator.num_pages > clubmeetings_list.number|add:'4' %}
    <li><a href="?page={{ clubmeetings_list.number|add:'5' }}">&hellip;</a></li>
    {% endif %}

    {% if clubmeetings_list.has_next %}
    <li><a class="paginator" href="?page={{ clubmeetings_list.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
    {% else %}
    <li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
    {% endif %}

</ul>